openapi: 3.0.1
info:
  title: Automotive Retail Systems API - VehicleEvent
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-09-02T13:45:14Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    Address:
      type: object
      properties:
        address_locales:
          $ref: "#/components/schemas/AddressLocales"
        priority:
          maxLength: 10
          minLength: 1
          type: string
          description: "Priority indicator for address usage (e.g., billing, shipping)."
          example: "1"
        city_code:
          maxLength: 20
          minLength: 1
          type: string
          description: Standardized city code.
        address_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business key for the address.
        address_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the address record.
        address_input:
          maxLength: 255
          minLength: 1
          type: string
          description: Raw input provided for address processing or validation.
        address_line1:
          maxLength: 100
          minLength: 1
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          maxLength: 100
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line4:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line5:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Name of the city.
        city_subdivision:
          maxLength: 100
          type: string
          description: "Subdivision within the city (e.g., neighborhood, district)."
        country:
          maxLength: 100
          minLength: 2
          type: string
          description: Full name of the country.
        country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 Alpha-2 country code.
        county:
          maxLength: 100
          type: string
          description: Name of the county.
          example: Dade
        county_code:
          maxLength: 20
          type: string
          description: Standardized code for the county.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        position:
          $ref: "#/components/schemas/Position"
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        postal_code_ext:
          maxLength: 10
          type: string
          description: "Extended postal code (e.g., ZIP+4)."
        preferred_indicator:
          type: boolean
          description: Flag indicating if this address is the preferred address.
          example: false
        region:
          maxLength: 50
          type: string
          description: "Administrative region (e.g., province, state)."
        state:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    AddressLocale:
      type: object
      properties:
        address_locale_key:
          type: string
          description: Business key for the address locale.
        address_locale_id:
          type: string
          description: Unique identifier for the address locale.
        region_code:
          type: string
          description: Code representing the region for the locale.
        region_name:
          type: string
          description: Name of the region for the locale.
        region_aliases:
          $ref: "#/components/schemas/Codes"
        location_type:
          $ref: "#/components/schemas/LocationTypes"
      description: External system address locale including region and location type.
    AddressLocales:
      type: array
      items:
        $ref: "#/components/schemas/AddressLocale"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-09-02T13:45:14Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CurrencyCode:
      type: string
      description: Three-letter ISO-4217 currency code.
      example: USD
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-09-02T13:45:14Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-09-02T13:45:14Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: The unique ID for this generated snapshot instance.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-09-02T13:45:14Z
      description: External system reference
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    List:
      type: array
      items:
        type: string
    LocationTypes:
      type: string
      description: types of locations.
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    MediaFormatTypes:
      type: string
      description: types of media formats.
      enum:
      - PDF
      - DOC
      - DOCX
      - XLS
      - XLSX
      - PPT
      - PPTX
      - AIFF
      - BMP
      - JPG
      - PNG
      - GIF
      - ICO
      - AVI
      - MPG
      - MP4
      - WMV
      - MOV
      - FLV
      - SWF
      - MKV
      - OCTET
      - GZ
      - BZ2
      - ZIP
      - RAR
      - ODT
      - MOBI
      - HTML
      - EPUB
      - SVG
      - FLAC
      - WAV
      - JSON
      - YAML
      - CSV
      - CONTAINER
      - OTHER
    MediaPrivacyTypes:
      type: string
      description: types of media privacys.
      enum:
      - PUBLIC
      - AUTHORIZED
      - PRIVATE
      - SCHEDULED
      - UNLISTED
      - ARCHIVED
      - DRAFT
    MediaReference:
      type: object
      properties:
        media_key:
          type: string
          description: The unique persistent key identifier for the media item.
        media_id:
          type: string
          description: The logical business identifier assigned to the media item.
        name:
          type: string
          description: The descriptive name or filename of the media item.
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_visibility:
          $ref: "#/components/schemas/MediaVisibility"
        signature:
          type: string
          description: The unique checksum hash validating the raw media file's structural
            integrity.
        media_href:
          type: string
          description: The direct hypermedia link pointing to the downstream physical
            binary or target REST resource.
          format: href
        capture_stage_type:
          type: string
          description: "The operational service phase or workflow event during which\
            \ the media was captured (e.g., VEHICLE_ARRIVAL, INITIAL_INSPECTION, TECHNICIAN_INSPECTION,\
            \ SERVICE_COMPLETED, FINAL_INSPECTION, POLICE_INCIDENT, OTHER)."
          example: INITIAL_INSPECTION
      description: media.reference.desc
    MediaReferences:
      type: array
      items:
        $ref: "#/components/schemas/MediaReference"
    MediaTypes:
      type: string
      description: types of medias.
      enum:
      - OCTET
      - TEXT
      - HTML
      - CSS
      - JAVASCRIPT
      - JSON
      - XML
      - IMAGE
      - GIF
      - SVG
      - JPEG
      - PNG
      - AUDIO
      - MP3
      - WAV
      - VIDEO
      - MP4
      - MPEG
      - QUICKTIME
      - STREAM
      - APPLICATION
      - ARCHIVE
      - EXECUTABLE
      - DOCUMENT
      - PDF
      - MODEL
      - FONT
      - FILE
    MediaVisibility:
      type: object
      properties:
        media_visibility_key:
          type: string
          description: The unique key for the media visibility record.
        visibility_key:
          type: string
          description: The unique key for visibility.
        media_privacy_type:
          $ref: "#/components/schemas/MediaPrivacyTypes"
        externally_hosted_indicator:
          type: boolean
          description: A boolean indicator for whether the media is hosted externally.
          example: false
      description: "Represents the visibility and hosting details for media, such\
        \ as privacy settings and scheduling."
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-09-02T13:45:14Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
      - CUSTOM_ORDER
      - SPECIAL
      - DISCLAIMER
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    ServiceMilestoneTypes:
      type: string
      description: types of service milestones.
      enum:
      - BOOKING
      - EXPECTED_ARRIVAL
      - ARRIVAL
      - CHECK_IN
      - PRE_INSPECTION
      - DIAGNOSTIC_START
      - DIAGNOSTIC_COMPLETE
      - ESTIMATE_APPROVED
      - SERVICE_START
      - ROAD_TEST
      - SERVICE_PAUSED
      - SERVICE_COMPLETION
      - SUBLET_DISPATCH
      - SUBLET_IN_PROGRESS
      - SUBLET_RETURN
      - QUALITY_CONTROL
      - STAGED_FOR_PICKUP
      - CHECK_OUT
      - RELEASE
      - INFORMATIONAL
      - MILESTONE
      - UNKNOWN
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - DEALER_PRINCIPAL
      - GENERAL_MANAGER
      - GENERAL_SALES_MANAGER
      - SALES_MANAGER
      - SALES_PERSON
      - BUSINESS_DEVELOPMENT_REPRESENTATIVE
      - CUSTOMER_SERVICE_REPRESENTATIVE
      - RECEPTIONIST
      - FINANCE_AND_INSURANCE_MANAGER
      - BUSINESS_MANAGER
      - CLOSING_MANAGER
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - WARRANTY_ADMINISTRATOR
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - PARTS_SPECIALIST
      - INVENTORY_MANAGER
      - FLEET_MANAGER
      - DETAIL_MANAGER
      - DETAIL_TECHNICIAN
      - ACCOUNTING_MANAGER
      - CONTROLLER
      - TITLE_CLERK
      - OFFICE_MANAGER
      - MARKETING_MANAGER
      - OTHER
    VehicleEvent:
      type: object
      properties:
        vehicle_event_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing the lifecycle event within
            the vehicle event ledger.
          example: VEVT-882211
        vehicle_event_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated identifier associated with
            the lifecycle event.
          example: CARFAX-992211
        event_sequence_num:
          maxLength: 40
          minLength: 1
          type: string
          description: The ordered sequence number representing the relative chronological
            placement of the lifecycle event.
          example: "1045"
        vehicle_event_type:
          $ref: "#/components/schemas/VehicleEventTypes"
        vehicle_event_category_type:
          $ref: "#/components/schemas/VehicleEventCategoryTypes"
        event_category:
          maxLength: 60
          minLength: 1
          type: string
          description: The high-level grouping classification associated with the
            lifecycle event.
          example: OWNERSHIP
        event_status:
          maxLength: 40
          minLength: 1
          type: string
          description: The workflow or processing status associated with the lifecycle
            event.
          example: COMPLETED
        event_source:
          maxLength: 120
          minLength: 1
          type: string
          description: "The originating provider, platform, dealership, OEM, government\
            \ agency, or external system that generated the lifecycle event."
          example: CARFAX
        event_org_code:
          maxLength: 60
          minLength: 1
          type: string
          description: The organization code associated with the entity that generated
            or recorded the lifecycle event.
          example: ATL-001
        event_org_party_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable organization name associated with the lifecycle
            event source.
          example: Atlanta Ford North
        occurrence_date_time:
          type: string
          description: The timestamp documenting when the lifecycle event actually
            occurred.
          format: date-time
          example: 2026-09-02T13:45:14Z
        recorded_date_time:
          type: string
          description: The timestamp documenting when the lifecycle event was persisted
            into the enterprise event ledger.
          format: date-time
          example: 2026-09-02T13:45:14Z
        event_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        event_detail:
          maxLength: 4000
          minLength: 1
          type: string
          description: The human-readable detailed narrative describing the lifecycle
            event.
          example: Vehicle transferred to customer ownership following retail sale.
        odometer:
          $ref: "#/components/schemas/MetricValue"
        vehicle_snapshots:
          $ref: "#/components/schemas/VehicleSnapshots"
        position:
          $ref: "#/components/schemas/Position"
        vehicle_event_codes:
          $ref: "#/components/schemas/Codes"
        event_confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The calculated confidence score representing trust in the lifecycle
            event accuracy and source reliability.
          example: "96.8"
        event_hash:
          maxLength: 128
          minLength: 1
          type: string
          description: The deterministic or cryptographic hash representing the immutable
            lifecycle event payload.
          example: 9f86d081884c7d659a2feaa0c55ad015
        actor:
          $ref: "#/components/schemas/ActorReference"
        business_context:
          $ref: "#/components/schemas/BusinessContext"
        financial_event_snapshot:
          $ref: "#/components/schemas/FinancialEventSnapshot"
      description: Vehicle Event
    VehicleEventCategoryTypes:
      type: string
      description: types of vehicle event categorys.
      enum:
      - DOCUMENT_LIFECYCLE
      - OWNERSHIP
      - DAMAGE
      - SERVICE
      - ODOMETER
      - USAGE
      - INSURANCE
      - MANUFACTURING
      - INVENTORY
      - LOGISTICS
      - CONNECTIVITY
      - MOBILITY
      - SAFETY
      - POWERTRAIN
      - DIAGNOSTICS
      - COMPLIANCE
      - LEGAL
      - FINANCIAL
      - CUSTOMER
      - REMOTE_OPERATIONS
      - SOFTWARE
      - GEOFENCING
      - SECURITY
      - REPUTATION
      - PARTNER
      - ENTERPRISE
      - PUBLIC
      - LOCATION
      - ELECTRICAL
      - CHASSIS
      - MAINTENANCE
      - OTHER
    VehicleEventTypes:
      type: string
      description: types of vehicle events.
      enum:
      - OWNER_HISTORY
      - MAJOR_ACCIDENT
      - MINOR_ACCIDENT
      - REPAIR_DAMAGE
      - STRUCTURAL_DAMAGE
      - ODOMETER_CHECK
      - ODOMETER_ROLLBACK
      - LEASE_USE
      - NEW_TITLE
      - UPDATED_TITLE
      - CORRECTED_TITLE
      - TOTAL_LOSS
      - REBUILD
      - MAINT_SERVICE
      - RECALL_SERVICE
      - AIRBAG_DEPLOY
      - PERSONAL_USE
      - RENTAL_USE
      - COMMERCIAL_USE
      - TAXI_USE
      - POLICE_USE
      - FLOOD_EVENT
      - LEMON_TITLE
      - SALE
    VehicleResourceTypes:
      type: string
      description: types of vehicle resources.
      enum:
      - POWER_TRAIN
      - BODY
      - CHASSIS
      - NETWORK
      - AIR_METERING
      - IGNITION
      - EMISSION
      - SPEED_CONTROL
      - IDLE_CONTROL
      - TRANSMISSION
      - ELECTRICAL
      - TIRE
      - OIL
      - BRAKE_PAD
      - BRAKE_FLUID
      - AIRBAG
      - BRAKES
      - ENGINE
      - STABILITY
      - WASHER_FLUID
      - STARTER
      - DIAGNOSTIC
      - LAMPS
      - MOTOR
      - BATTERY
      - LIGHTS
      - ODOMETER
      - SPEED
      - FUEL
      - CHARGE
      - PLACARD
      - GEAR
      - IDLE
      - DOOR
      - PLUG
      - CHARGE_PRIORITY
      - CHARGE_POWER
      - CHARGER
      - RANGE
      - ENERGY
      - AIR_EXT
      - AIR_INT
      - DRIVE_CYCLE
      - SYSTEM_SW
      - SYSTEM_HW
      - FLUID
      - AIR_FILTER
      - OTHER
    VehicleSnapshot:
      type: object
      properties:
        vehicle_snapshot_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing a point-in-time vehicle
            snapshot.
          example: VSNAP-882211
        vehicle_snapshot_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated identifier for the vehicle
            snapshot.
          example: SNAP-2026-00991
        snapshot_type:
          maxLength: 80
          minLength: 1
          type: string
          description: The type of vehicle snapshot captured.
          example: TRIP_START
        snapshot_source:
          maxLength: 120
          minLength: 1
          type: string
          description: "The system, device, user, or provider that generated the vehicle\
            \ snapshot."
          example: TELEMATICS_GATEWAY
        parent_entity_key:
          maxLength: 120
          minLength: 1
          type: string
          description: "The system, device, user, or provider that generated the vehicle\
            \ snapshot."
          example: TELEMATICS_GATEWAY
        occurrence_date_time:
          type: string
          description: The timestamp documenting when the vehicle snapshot was captured.
          format: date-time
          example: 2026-09-02T13:45:14Z
        vehicle_state_position:
          $ref: "#/components/schemas/VehicleStatePosition"
        vehicle_states:
          $ref: "#/components/schemas/VehicleStates"
        narratives:
          $ref: "#/components/schemas/Narratives"
        description:
          type: string
          description: The descriptive memo associated with the vehicle snapshot.
        media_references:
          $ref: "#/components/schemas/MediaReferences"
        snapshot_codes:
          $ref: "#/components/schemas/Codes"
        service_milestone_types:
          $ref: "#/components/schemas/ServiceMilestoneTypes"
      description: nullable
    VehicleSnapshots:
      type: array
      items:
        $ref: "#/components/schemas/VehicleSnapshot"
    VehicleState:
      type: object
      properties:
        vehicle_state_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing a single vehicle state
            reading.
          example: VSTATE-882211
        vehicle_state_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated identifier for the vehicle
            state reading.
          example: STATE-2026-00991
        vehicle_state_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable name of the vehicle state reading.
          example: Battery State of Charge
        value:
          maxLength: 500
          minLength: 1
          type: string
          description: The raw or normalized value captured for the vehicle state
            reading.
          example: "82"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        vehicle_system_type:
          $ref: "#/components/schemas/VehicleSystemTypes"
        vehicle_resource_type:
          $ref: "#/components/schemas/VehicleResourceTypes"
        vehicle_value_type:
          $ref: "#/components/schemas/VehicleStateUomTypes"
        vehicle_state_type:
          $ref: "#/components/schemas/VehicleStateTypes"
        vehicle_status_type:
          $ref: "#/components/schemas/VehicleStatusTypes"
        occurrence_date_time:
          type: string
          description: The timestamp documenting when the vehicle state reading was
            observed.
          format: date-time
          example: 2026-09-02T13:45:14Z
        recorded_date_time:
          type: string
          description: The timestamp documenting when the vehicle state reading was
            recorded by the platform.
          format: date-time
          example: 2026-09-02T13:45:14Z
        vehicle_state_position:
          $ref: "#/components/schemas/VehicleStatePosition"
        narratives:
          $ref: "#/components/schemas/Narratives"
        description:
          type: string
          description: The descriptive memo associated with the vehicle state reading.
        vehicle_state_codes:
          $ref: "#/components/schemas/Codes"
      description: nullable
    VehicleStatePosition:
      type: object
      properties:
        vehicle_state_position_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing the vehicle state position
            reading.
          example: VSPOS-882211
        vehicle_state_position_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated identifier for the vehicle
            state position reading.
          example: POS-2026-00991
        position_type:
          maxLength: 80
          minLength: 1
          type: string
          description: The classification describing the type of captured vehicle
            position.
          example: GPS
        description:
          type: string
          description: The descriptive memo associated with the vehicle state position
            reading.
        position:
          $ref: "#/components/schemas/Position"
        address:
          $ref: "#/components/schemas/Address"
        dop:
          maxLength: 20
          minLength: 1
          type: string
          description: The GPS dilution of precision quality measurement associated
            with the captured position.
          example: "1.5"
        altitude:
          $ref: "#/components/schemas/MetricValue"
        bearing:
          $ref: "#/components/schemas/MetricValue"
        speed:
          $ref: "#/components/schemas/MetricValue"
        horizontal_accuracy:
          $ref: "#/components/schemas/MetricValue"
        vertical_accuracy:
          $ref: "#/components/schemas/MetricValue"
        occurrence_date_time:
          type: string
          description: The timestamp documenting when the vehicle position reading
            was observed.
          format: date-time
          example: 2026-09-02T13:45:14Z
        recorded_date_time:
          type: string
          description: The timestamp documenting when the vehicle position reading
            was recorded by the platform.
          format: date-time
          example: 2026-09-02T13:45:14Z
        mask_indicator:
          type: boolean
          description: "Indicates whether the vehicle position was intentionally masked,\
            \ generalized, or privacy-protected."
          example: false
        position_codes:
          $ref: "#/components/schemas/Codes"
      description: nullable
    VehicleStateTypes:
      type: string
      description: types of vehicle states.
      enum:
      - OK
      - WARNING
      - CRITICAL
      - LOW
      - HIGH
      - "ON"
      - "OFF"
      - ACTIVE
      - DEPLOYED
      - CRASH
      - TEST
      - NONE
    VehicleStateUomTypes:
      type: string
      description: types of vehicle state uoms.
      enum:
      - CONSUMPTION
      - DETECTION
      - USAGE
      - REPLACEMENT
      - ROTATION
      - CHANGE
      - DEPLOYMENT
      - COST
      - UTILIZATION
      - PRESSURE
      - TEMPERATURE
      - WEAR
      - DAMAGE
      - DEFECTIVE
      - EXCESSIVE
      - POWER
      - LEAK
      - LEVEL
      - QUALITY
      - PERFORMANCE
      - USED
      - FLAT
      - ECONOMY
      - CAPACITY
      - STATE
      - LIFE
      - EFFICIENCY
      - VIBRATION
      - FAULT
      - INSTALLED
      - VALUE
      - DISTANCE
      - ACTUAL
      - AVG
      - MODE
      - MEAN
      - HARD
      - VIOLATION
      - POSITION
      - LIMIT
      - LIFETIME_HOURS
      - USABLE
      - STATUS
      - STATUS_ACTUAL
      - VALID
      - NOMINAL
      - POINTS
      - EVENT
      - OPEN
      - CLOSE
      - ACTIVE
      - UPDATING
    VehicleStates:
      type: array
      items:
        $ref: "#/components/schemas/VehicleState"
    VehicleStatusTypes:
      type: string
      description: types of vehicle status.
      enum:
      - PENDING_RESERVED
      - RESERVED
      - ACTIVE
      - SOLD
      - RECALL
      - PROPOSED
      - PENDING_ACQUISITION
      - IN_RECEIVING
      - IN_STOCK
      - IN_SERVICE
      - UNDER_MAINTENANCE
      - RETIRED
      - DISPOSED
      - LOST_STOLEN
      - OTHER
    VehicleSystemTypes:
      type: string
      description: types of vehicle systems.
      enum:
      - ELECTRICAL
      - LIGHTING
      - POWERTRAIN
      - DRIVETRAIN
      - ENGINE
      - TRANSMISSION
      - CONTROL
      - SENSORS
      - CAMERA
      - COMMUNICATION
      - NAVIGATION
      - MAPPING
      - CLIMATE_CONTROL
      - SECURITY
      - INFOTAINMENT
      - HMI
      - POWER_MANAGEMENT
      - CHARGING
      - ELECTRIC_POWER
      - BATTERY
      - AUTONOMOUS
      - ADAS
      - SAFETY
      - BRAKING
      - STEERING
      - SUSPENSION
      - V2X
      - TELEMATICS
      - DIAGNOSTICS
      - REPORTING
      - BODY
      - INTERIOR
      - EXTERIOR
      - FUEL
      - EXHAUST
      - OTHER
