openapi: 3.0.1
info:
  title: Automotive Retail Systems API - VehicleTelemetryObservation
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    AggregationTypes:
      type: string
      description: types of aggregations.
      enum:
      - NONE
      - INSTANTANEOUS
      - FIRST
      - LAST
      - EARLIEST
      - LATEST
      - SUM
      - COUNT
      - DISTINCT_COUNT
      - MINIMUM
      - MAXIMUM
      - AVERAGE
      - WEIGHTED_AVERAGE
      - MEDIAN
      - MODE
      - RANGE
      - VARIANCE
      - STANDARD_DEVIATION
      - PERCENTILE
      - QUANTILE
      - DELTA
      - ABSOLUTE_DELTA
      - PERCENT_CHANGE
      - RATE
      - CUMULATIVE
      - RUNNING_TOTAL
      - MOVING_AVERAGE
      - MOVING_SUM
      - ROLLING_MINIMUM
      - ROLLING_MAXIMUM
      - WINDOWED
      - TIME_WEIGHTED_AVERAGE
      - EXPONENTIALLY_WEIGHTED_AVERAGE
      - INTERPOLATED
      - EXTRAPOLATED
      - NORMALIZED
      - INDEXED
      - RATIO
      - BOOLEAN_ANY
      - BOOLEAN_ALL
      - MAJORITY
      - CONSENSUS
      - CUSTOM
      - ITEM
      - LIST
      - TOTAL
      - MEAN
      - AVG
      - DISTINCT
      - MAX
      - MIN
      - OTHER
      - UNKNOWN
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-08-24T19:44:05Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-08-24T19:44:05Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    ServiceMilestoneTypes:
      type: string
      description: types of service milestones.
      enum:
      - BOOKING
      - EXPECTED_ARRIVAL
      - ARRIVAL
      - CHECK_IN
      - PRE_INSPECTION
      - DIAGNOSTIC_START
      - DIAGNOSTIC_COMPLETE
      - ESTIMATE_APPROVED
      - SERVICE_START
      - ROAD_TEST
      - SERVICE_PAUSED
      - SERVICE_COMPLETION
      - SUBLET_DISPATCH
      - SUBLET_IN_PROGRESS
      - SUBLET_RETURN
      - QUALITY_CONTROL
      - STAGED_FOR_PICKUP
      - CHECK_OUT
      - RELEASE
      - INFORMATIONAL
      - MILESTONE
      - UNKNOWN
    VehicleTelemetryMetricTypes:
      type: string
      description: types of vehicle telemetry metrics.
      enum:
      - ODOMETER
      - SPEED
      - ENGINE_RPM
      - FUEL_LEVEL
      - BATTERY_LEVEL
      - BATTERY_STATE_OF_CHARGE
      - BATTERY_VOLTAGE
      - TIRE_PRESSURE
      - ENGINE_TEMPERATURE
      - AMBIENT_TEMPERATURE
      - HEADING
      - ACCELERATION
      - REMAINING_RANGE
      - OIL_LIFE
      - FLUID_LEVEL
      - BATTERY_SOC
      - UNKNOWN
    VehicleTelemetryObservation:
      type: object
      properties:
        vehicle_telemetry_observation_key:
          maxLength: 120
          minLength: 1
          type: string
          description: Business key that uniquely identifies the vehicle telemetry
            observation across participating systems.
          example: VTOBS-TIRE-PRESSURE-LF-20260724-0001
        vehicle_telemetry_observation_id:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique system identifier for the vehicle telemetry observation
            record.
          example: "864867285876080651"
        metric_code:
          maxLength: 100
          minLength: 1
          type: string
          description: Canonical code identifying the telemetry metric represented
            by the observation.
          example: TIRE_PRESSURE_LEFT_FRONT
        source_system_code:
          maxLength: 100
          minLength: 1
          type: string
          description: "Code identifying the authoritative system, platform, gateway,\
            \ or service that supplied the telemetry observation."
          example: OEM_CONNECTED_VEHICLE_PLATFORM
        source_device_key:
          maxLength: 120
          minLength: 1
          type: string
          description: Reference key identifying the physical or virtual device from
            which the telemetry observation originated.
          example: DEVICE-VEHICLE-GATEWAY-993211
        sensor_identifier:
          maxLength: 120
          minLength: 1
          type: string
          description: "Identifier assigned to the sensor, electronic control unit,\
            \ module, or logical measurement source that generated the observation."
          example: TPMS-LF-01
        position_reference_key:
          maxLength: 120
          minLength: 1
          type: string
          description: Reference key identifying the geographic position associated
            with the telemetry observation.
          example: POSITION-OBS-864867285876080651
        valid_indicator:
          type: boolean
          description: Indicates whether the telemetry observation passed validation
            and is considered usable.
          example: true
        estimated_indicator:
          type: boolean
          description: Indicates whether the observation value was estimated rather
            than directly measured.
          example: false
        derived_indicator:
          type: boolean
          description: "Indicates whether the observation was calculated, inferred,\
            \ aggregated, or otherwise derived from one or more source measurements."
          example: false
        occurrence_date_time:
          type: string
          description: Date and time at which the measured condition or telemetry
            observation occurred at the source.
          format: date-time
          example: 2026-08-24T19:44:05Z
        sequence_number:
          minimum: 0
          type: integer
          description: Monotonically increasing sequence number assigned by the source
            device or system for event ordering and replay detection.
          format: int64
          example: 192847
        confidence_score:
          type: string
          description: Confidence score indicating how strongly the source or processing
            system believes the telemetry observation is accurate. Values range from
            0.0 through 1.0.
          example: "0.96"
        data_quality_score:
          type: string
          description: "Quality score representing the completeness, validity, consistency,\
            \ and reliability of the telemetry observation. Values range from 0.0\
            \ through 1.0."
          example: "0.94"
        aggregation_type:
          $ref: "#/components/schemas/AggregationTypes"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        observation_codes:
          $ref: "#/components/schemas/Codes"
        metric_type:
          $ref: "#/components/schemas/VehicleTelemetryMetricTypes"
        service_milestone_types:
          $ref: "#/components/schemas/ServiceMilestoneTypes"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: The correlation identifier used to associate related telemetry
            events.
          example: CORR-882211
        metric_value:
          $ref: "#/components/schemas/MetricValue"
        recorded_date_time:
          type: string
          description: Exact timestamp when the telemetry reading was captured.
          format: date-time
          example: 2026-08-24T19:44:05Z
        source:
          type: string
          description: "Origin of the telemetry data (e.g., MANUAL_ADVISOR_INPUT,\
            \ TELEMATICS_DONGLE, OBD_SCANNER)."
          example: OBD_SCANNER
      description: vehicle.telemetry.observation.desc
