openapi: 3.0.1
info:
  title: Automotive Retail Systems API - MultiPointInspection
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1/v1_0_0
  description: Production server
- url: https://sandbox.starstandard.org/v1/v1_0_0
  description: Sandbox for testing
security:
- industry-oauth:
  - standard:read
- member-api-key: []
- {}
tags:
- name: Health
  description: Tag Description Health
- name: Inspections
  description: Tag Description Inspections
- name: LaborOperationEvents
  description: Tag Description LaborOperationEvents
- name: LaborOperations
  description: Tag Description LaborOperations
- name: LaborResources
  description: Tag Description LaborResources
- name: ManifestItems
  description: Tag Description ManifestItems
- name: Medias
  description: Tag Description Medias
- name: MultiPointInspections
  description: Tag Description MultiPointInspections
- name: PartIdentifiers
  description: Tag Description PartIdentifiers
- name: PartNames
  description: Tag Description PartNames
- name: ProductModels
  description: Tag Description ProductModels
- name: StaffSkills
  description: Tag Description StaffSkills
- name: VehicleIdentifiers
  description: Tag Description VehicleIdentifiers
- name: VehicleLicenses
  description: Tag Description VehicleLicenses
paths:
  /multi-point-inspections:
    get:
      tags:
      - MultiPointInspections
      summary: Returns a paginated list of multi point inspection
      description: a list of MultiPointInspection
      operationId: listMultiPointInspections
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/MultiPointInspectionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    post:
      tags:
      - MultiPointInspections
      summary: create multi point inspection
      description: create MultiPointInspection
      operationId: createMultiPointInspection
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiPointInspectionCreate"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/MultiPointInspectionCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /multi-point-inspections/{multi-point-inspection-key}:
    get:
      tags:
      - MultiPointInspections
      summary: Retrieve a single item scoped by a key MultiPointInspection entities.
      description: Retrieve a single item scoped by a key MultiPointInspection entities.
      operationId: getMultiPointInspectionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/MultiPointInspectionKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/MultiPointInspectionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    put:
      tags:
      - MultiPointInspections
      summary: Replace values in a single item scoped by a key MultiPointInspection
        entities.
      description: Replace values in a single item scoped by a key MultiPointInspection
        entities.
      operationId: replaceMultiPointInspectionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/MultiPointInspectionKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiPointInspectionUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/MultiPointInspectionUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    delete:
      tags:
      - MultiPointInspections
      summary: Delete a single item scoped by a key MultiPointInspection
      description: delete a MultiPointInspection
      operationId: deleteMultiPointInspection
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/ReasonQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/MultiPointInspectionKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/MultiPointInspectionSingleResponse"
        "204":
          $ref: "#/components/responses/NoContentSuccess"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    patch:
      tags:
      - MultiPointInspections
      summary: Update a single item scoped by a key MultiPointInspection
      description: update a single item
      operationId: updateMultiPointInspectionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IdempotencyKeyHeader"
      - $ref: "#/components/parameters/IfMatchHeader"
      - $ref: "#/components/parameters/MultiPointInspectionKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/MultiPointInspectionUpdate"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/MultiPointInspectionUpdatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
  /multi-point-inspections/{multi-point-inspection-key}/staff-skills:
    get:
      tags:
      - StaffSkills
      summary: Returns a paginated list of staff skill
      description: a list of StaffSkill
      operationId: listStaffSkillsByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/StaffSkillCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/staff-skills/{staff-skill-key}:
    get:
      tags:
      - StaffSkills
      summary: Retrieve a single item scoped by a key StaffSkill entities.
      description: Retrieve a single item scoped by a key StaffSkill entities.
      operationId: getStaffSkillByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/StaffSkillKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/StaffSkillSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/manifest-items:
    get:
      tags:
      - ManifestItems
      summary: Returns a paginated list of manifest item
      description: a list of ManifestItem
      operationId: listManifestItemsByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ManifestItemCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/manifest-items/{manifest-item-key}:
    get:
      tags:
      - ManifestItems
      summary: Retrieve a single item scoped by a key ManifestItem entities.
      description: Retrieve a single item scoped by a key ManifestItem entities.
      operationId: getManifestItemByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/ManifestItemKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ManifestItemSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/staff-assignment-references:
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/staff-assignment-references/{staff-assignment-reference-key}:
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/part-names:
    get:
      tags:
      - PartNames
      summary: Returns a paginated list of part name
      description: a list of PartName
      operationId: listPartNamesByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartNameCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/part-names/{part-name-key}:
    get:
      tags:
      - PartNames
      summary: Retrieve a single item scoped by a key PartName entities.
      description: Retrieve a single item scoped by a key PartName entities.
      operationId: getPartNameByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PartNameKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartNameSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/part-identifiers:
    get:
      tags:
      - PartIdentifiers
      summary: Returns a paginated list of part identifier
      description: a list of PartIdentifier
      operationId: listPartIdentifiersByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartIdentifierCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/part-identifiers/{part-identifier-key}:
    get:
      tags:
      - PartIdentifiers
      summary: Retrieve a single item scoped by a key PartIdentifier entities.
      description: Retrieve a single item scoped by a key PartIdentifier entities.
      operationId: getPartIdentifierByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PartIdentifierKey"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/PartIdentifierSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/labor-operations:
    get:
      tags:
      - LaborOperations
      summary: Returns a paginated list of labor operation
      description: a list of LaborOperation
      operationId: listLaborOperationsByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/LaborOperationCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/labor-operations/{labor-operation-key}:
    get:
      tags:
      - LaborOperations
      summary: Retrieve a single item scoped by a key LaborOperation entities.
      description: Retrieve a single item scoped by a key LaborOperation entities.
      operationId: getLaborOperationByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/LaborOperationKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/LaborOperationSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/product-models:
    get:
      tags:
      - ProductModels
      summary: Returns a paginated list of product model
      description: a list of ProductModel
      operationId: listProductModelsByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ProductModelCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/product-models/{product-model-key}:
    get:
      tags:
      - ProductModels
      summary: Retrieve a single item scoped by a key ProductModel entities.
      description: Retrieve a single item scoped by a key ProductModel entities.
      operationId: getProductModelByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/ProductModelKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/ProductModelSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/vehicle-licenses:
    get:
      tags:
      - VehicleLicenses
      summary: Returns a paginated list of vehicle license
      description: a list of VehicleLicense
      operationId: listVehicleLicensesByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleLicenseCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/vehicle-licenses/{vehicle-license-key}:
    get:
      tags:
      - VehicleLicenses
      summary: Retrieve a single item scoped by a key VehicleLicense entities.
      description: Retrieve a single item scoped by a key VehicleLicense entities.
      operationId: getVehicleLicenseByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/VehicleLicenseKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleLicenseSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/labor-operation-events:
    get:
      tags:
      - LaborOperationEvents
      summary: Returns a paginated list of labor operation event
      description: a list of LaborOperationEvent
      operationId: listLaborOperationEventsByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/LaborOperationEventCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/labor-operation-events/{labor-operation-event-key}:
    get:
      tags:
      - LaborOperationEvents
      summary: Retrieve a single item scoped by a key LaborOperationEvent entities.
      description: Retrieve a single item scoped by a key LaborOperationEvent entities.
      operationId: getLaborOperationEventByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/LaborOperationEventKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/LaborOperationEventSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/labor-resources:
    get:
      tags:
      - LaborResources
      summary: Returns a paginated list of labor resource
      description: a list of LaborResource
      operationId: listLaborResourcesByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/LaborResourceCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/labor-resources/{labor-resource-key}:
    get:
      tags:
      - LaborResources
      summary: Retrieve a single item scoped by a key LaborResource entities.
      description: Retrieve a single item scoped by a key LaborResource entities.
      operationId: getLaborResourceByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/LaborResourceKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/LaborResourceSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/medias:
    get:
      tags:
      - Medias
      summary: Returns a paginated list of media
      description: a list of Media
      operationId: listMediasByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/MediaCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/medias/{media-key}:
    get:
      tags:
      - Medias
      summary: Retrieve a single item scoped by a key Media entities.
      description: Retrieve a single item scoped by a key Media entities.
      operationId: getMediaByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/MediaKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/MediaSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/inspections:
    get:
      tags:
      - Inspections
      summary: Returns a paginated list of inspection
      description: a list of Inspection
      operationId: listInspectionsByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/InspectionCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/inspections/{inspection-key}:
    get:
      tags:
      - Inspections
      summary: Retrieve a single item scoped by a key Inspection entities.
      description: Retrieve a single item scoped by a key Inspection entities.
      operationId: getInspectionByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/InspectionKey"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/InspectionSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/bill-of-material-references:
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/bill-of-material-references/{bill-of-material-reference-key}:
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/appointment-references:
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/appointment-references/{appointment-reference-key}:
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/vehicle-identifiers:
    get:
      tags:
      - VehicleIdentifiers
      summary: Returns a paginated list of vehicle identifier
      description: a list of VehicleIdentifier
      operationId: listVehicleIdentifiersByMultiPointInspectionKey
      parameters:
      - $ref: "#/components/parameters/FilterQuery"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleIdentifierCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspections/{multi-point-inspection-key}/vehicle-identifiers/{vehicle-identifier-key}:
    get:
      tags:
      - VehicleIdentifiers
      summary: Retrieve a single item scoped by a key VehicleIdentifier entities.
      description: Retrieve a single item scoped by a key VehicleIdentifier entities.
      operationId: getVehicleIdentifierByKey
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CacheControlHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/PreferenceAppliedHeader"
      - $ref: "#/components/parameters/VehicleIdentifierKey"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/VehicleIdentifierSingleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
    parameters:
    - $ref: "#/components/parameters/MultiPointInspectionKey"
  /multi-point-inspection/health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Returns the health status of the MultiPointInspection root node.
      operationId: healthMultiPointInspection
      parameters:
      - $ref: "#/components/parameters/TransactionIDHeader"
      - $ref: "#/components/parameters/CorrelationIDHeader"
      - $ref: "#/components/parameters/StandardsVersionHeader"
      - $ref: "#/components/parameters/OrgVersionHeader"
      - $ref: "#/components/parameters/AgentHeader"
      - $ref: "#/components/parameters/CountryCodeHeader"
      - $ref: "#/components/parameters/LocaleHeader"
      - $ref: "#/components/parameters/LimitQuery"
      - $ref: "#/components/parameters/OffsetQuery"
      - $ref: "#/components/parameters/SortQuery"
      - $ref: "#/components/parameters/BrandHeader"
      - $ref: "#/components/parameters/CreatorCodeHeader"
      - $ref: "#/components/parameters/DealerIdHeader"
      - $ref: "#/components/parameters/IfNoneMatchHeader"
      - $ref: "#/components/parameters/PreferHeader"
      - $ref: "#/components/parameters/RegionHeader"
      - $ref: "#/components/parameters/SourceSystemHeader"
      - $ref: "#/components/parameters/SubscriberCodeHeader"
      responses:
        "200":
          $ref: "#/components/responses/HealthStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
        "406":
          $ref: "#/components/responses/NotAcceptableError"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ApiKeyHeader: []
      - AuthorizationHeader: []
components:
  schemas:
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
          example: "840277005872300032"
        address_reference_id:
          type: string
          description: The unique value of the address reference.
          example: "840277005872300033"
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: address_types list
          example:
          - POSTAL
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
          example: 123 Main St
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Suite 400
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Building A
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: Mail Stop 22
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
          example: "Attention: Accounts Payable"
        city:
          type: string
          description: Name of the city.
          example: Atlanta
        country_code:
          type: string
          description: Full name of the country.
          example: US
        district:
          type: string
          description: Name of the district.
          example: North District
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
          example: Work Email
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
          example: "30303"
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
          example: GA
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      example: BILLING
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - OTHER
    AppointmentReference:
      type: object
      properties:
        appointment_reference_key:
          type: string
          description: A unique key for the appointment reference.
          example: "840277005872300034"
        appointment_key:
          type: string
          description: A unique key for the appointment record.
          example: "840277005872300035"
        appointment_reference_value:
          type: string
          description: The unique value of the appointment reference.
          example: APPT-REF-001
        appointment_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: appointment_types list
          example:
          - WARRANTY_REPAIR
          items:
            $ref: "#/components/schemas/AppointmentTypes"
        appointment_source_code:
          type: string
          description: The source code for the appointment.
          example: ONLINE
        description:
          type: string
          description: Optional description for the part identifier
          example: Vehicle engine component.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        appointment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        appointment_status_type:
          $ref: "#/components/schemas/AppointmentStatusTypes"
        appointment_type:
          $ref: "#/components/schemas/AppointmentTypes"
        occurrence_date_time:
          type: string
          description: The date and time the appointment occurred.
          format: date-time
          example: 2026-05-07T17:20:09Z
      description: nullable
    AppointmentReferences:
      type: array
      items:
        $ref: "#/components/schemas/AppointmentReference"
    AppointmentStatusTypes:
      type: string
      description: types of appointment status.
      example: WAIT_LIST
      enum:
      - WAIT_LIST
      - TENTATIVE
      - AVAILABLE
      - SELECTED
      - RESERVED
      - PREFERRED
      - CONFIRMED
      - ARRIVED
      - FULFILLED
      - ALTERNATE
      - NO_SHOW
      - CANCELLED
    AppointmentTypes:
      type: string
      description: types of appointments.
      example: SALES
      enum:
      - SALES
      - F_AND_I
      - TRADE_EVALUATION
      - TEST_DRIVE
      - DELIVERY
      - SERVICE
      - WARRANTY_REPAIR
      - VEHICLE_PICKUP
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-05-07T17:20:09Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
          example: "840277005872300036"
        auth_codes:
          $ref: "#/components/schemas/Codes"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BillOfMaterialReference:
      type: object
      properties:
        bill_of_material_reference_id:
          type: string
          description: Unique identifier value
          example: "840277005872300037"
        bill_of_material_reference_key:
          type: string
          description: Unique identifier value
          example: "840277005872300038"
        bill_of_material_key:
          type: string
          description: Unique identifier value
          example: "840277005872300039"
        context:
          type: string
          description: Context or domain of the identifier
          example: FINANCE
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-05-07T17:20:09Z
        captured_financial_split:
          $ref: "#/components/schemas/FinancialSplitReference"
      description: External system identifier
    BillOfMaterialReferences:
      type: array
      items:
        $ref: "#/components/schemas/BillOfMaterialReference"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
          example: "840277005872300040"
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
          example: "840277005872300041"
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
          example: user@example.com
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
          example: "{country_code=+1}"
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
          example: Work Email
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      example: PHONE
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CorrelationId:
      pattern: "^[a-zA-Z0-9-]+$"
      type: string
      description: The correlation ID or workflow execution identifier for cross-system
        distributed tracing.
      example: exec-uuid-99283-7716
    CountryCode:
      type: string
      description: The ISO 3116-1 alpha-2 country code of the issuing jurisdiction.
      example: US
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-05-07T17:20:09Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    DaysOfWeekTypes:
      type: string
      description: types of days of weeks.
      example: SUN
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeviceTypes:
      type: string
      description: types of devices.
      example: MOBILE
      enum:
      - MOBILE
      - TABLET
      - DESKTOP
      - SMART_TV
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      example: MINUTES
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-05-07T17:20:09Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-05-07T17:20:09Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    ErrorDetail:
      required:
      - category
      - code
      - message
      - timestamp
      - trace_id
      type: object
      properties:
        code:
          type: string
          description: "A machine-readable, unique system error code."
          example: NOT_FOUND_PR
        message:
          type: string
          description: A developer-friendly explanation of the error.
          example: Personnel Record with ID PR-1234567 was not found.
        category:
          type: string
          description: Classifies the error to help clients determine high-level retry
            or handling logic.
          example: DATA_INTEGRITY
          enum:
          - VALIDATION
          - AUTHENTICATION
          - AUTHORIZATION
          - INFRASTRUCTURE
          - BUSINESS_LOGIC
          - DATA_INTEGRITY
        timestamp:
          type: string
          description: The time the error occurred (ISO 8601).
          format: date-time
          example: 2025-11-10T10:30:00Z
        trace_id:
          type: string
          description: A unique identifier for this specific request.
          example: 57c31110-859a-11ec-a8a3-0242ac120002
        doc_url:
          type: string
          description: A URL leading to the documentation page for this specific error
            code.
          format: uri
          example: https://api.docs.com/errors/NOT_FOUND_PR
        details:
          type: array
          description: Field-level validation errors or granular diagnostic information.
          example:
          - account: GL-1000
            budget: 10000
            actual: 12000
            variance: 2000
          - account: GL-2000
            budget: 5000
            actual: 4500
            variance: -500
          items:
            type: object
            properties:
              field:
                type: string
                description: The JSON path or field name that caused the error.
                example: payrollId
              issue:
                type: string
                description: The specific validation rule that failed.
                example: must be unique
              rejected_value:
                type: string
                description: The value that was sent and rejected (only if non-sensitive).
                example: "12345"
      description: Standardized error response for the entire API ecosystem. Follows
        RFC 7807 principles for problem details to ensure consistency across microservices.
    EventMessage:
      type: object
      properties:
        event_message_key:
          type: string
          description: A unique key for the eventMessage record.
          example: "840277005872300042"
        event_message_id:
          type: string
          description: The unique ID for the eventMessage.
          example: "840277005872300043"
        event_actor_key:
          type: string
          description: The ID of the actor for the event.
          example: "840277005872300044"
        event_actor_name:
          type: string
          description: The name of the actor for the event.
          example: System
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          description: Content of the event message.
          example: event_content
          items:
            type: string
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-05-07T17:20:09Z
        event_message_group:
          type: string
          description: The group to which the eventMessage belongs.
          example: ORDER_EVENTS
        event_message_action:
          $ref: "#/components/schemas/Memo"
        event_message_desc:
          type: string
          description: A description for the eventMessage.
          example: Order creation event.
        event_message_type:
          $ref: "#/components/schemas/EventMessageTypes"
        event_message_name:
          type: string
          description: The name of the eventMessage.
          example: OrderCreated
        event_message_code:
          type: string
          description: The code for the eventMessage.
          example: ORD-001
        event_message_value:
          type: string
          description: The value of the eventMessage.
          example: SUCCESS
        internal_indicator:
          type: boolean
          description: An indicator for whether the eventMessage is internal.
          example: false
      description: narrative of conversation
    EventMessageTypes:
      type: string
      description: types of event messages.
      example: INSTRUCTION
      enum:
      - INSTRUCTION
      - REASONING
      - RESPONSE
      - TOOL_CALL
      - TOOL_OUTPUT
      - ACTION_CONFIRMATION
      - COMPENSATION
      - RETRY_SIGNAL
      - ERROR_REPORT
      - DELEGATION
      - BROADCAST
      - CRITIQUE
      - LOGGING
      - AUDIT
      - HEARTBEAT
      - UNKNOWN
    EventMessages:
      type: array
      items:
        $ref: "#/components/schemas/EventMessage"
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
          example: "840277005872300045"
        financial_split_reference_key:
          type: string
[...]
