openapi: 3.0.1
info:
  title: Automotive Retail Systems API - VehicleAlert
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-08-24T19:44:08Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    Address:
      type: object
      properties:
        address_locales:
          $ref: "#/components/schemas/AddressLocales"
        priority:
          maxLength: 10
          minLength: 1
          type: string
          description: "Priority indicator for address usage (e.g., billing, shipping)."
          example: "1"
        city_code:
          maxLength: 20
          minLength: 1
          type: string
          description: Standardized city code.
        address_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business key for the address.
        address_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier for the address record.
        address_input:
          maxLength: 255
          minLength: 1
          type: string
          description: Raw input provided for address processing or validation.
        address_line1:
          maxLength: 100
          minLength: 1
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          maxLength: 100
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line4:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_line5:
          maxLength: 100
          type: string
          description: Additional address line information.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Name of the city.
        city_subdivision:
          maxLength: 100
          type: string
          description: "Subdivision within the city (e.g., neighborhood, district)."
        country:
          maxLength: 100
          minLength: 2
          type: string
          description: Full name of the country.
        country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 Alpha-2 country code.
        county:
          maxLength: 100
          type: string
          description: Name of the county.
          example: Dade
        county_code:
          maxLength: 20
          type: string
          description: Standardized code for the county.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        position:
          $ref: "#/components/schemas/Position"
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        postal_code_ext:
          maxLength: 10
          type: string
          description: "Extended postal code (e.g., ZIP+4)."
        preferred_indicator:
          type: boolean
          description: Flag indicating if this address is the preferred address.
          example: false
        region:
          maxLength: 50
          type: string
          description: "Administrative region (e.g., province, state)."
        state:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    AddressLocale:
      type: object
      properties:
        address_locale_key:
          type: string
          description: Business key for the address locale.
        address_locale_id:
          type: string
          description: Unique identifier for the address locale.
        region_code:
          type: string
          description: Code representing the region for the locale.
        region_name:
          type: string
          description: Name of the region for the locale.
        region_aliases:
          $ref: "#/components/schemas/Codes"
        location_type:
          $ref: "#/components/schemas/LocationTypes"
      description: External system address locale including region and location type.
    AddressLocales:
      type: array
      items:
        $ref: "#/components/schemas/AddressLocale"
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AggregationTypes:
      type: string
      description: types of aggregations.
      enum:
      - NONE
      - INSTANTANEOUS
      - FIRST
      - LAST
      - EARLIEST
      - LATEST
      - SUM
      - COUNT
      - DISTINCT_COUNT
      - MINIMUM
      - MAXIMUM
      - AVERAGE
      - WEIGHTED_AVERAGE
      - MEDIAN
      - MODE
      - RANGE
      - VARIANCE
      - STANDARD_DEVIATION
      - PERCENTILE
      - QUANTILE
      - DELTA
      - ABSOLUTE_DELTA
      - PERCENT_CHANGE
      - RATE
      - CUMULATIVE
      - RUNNING_TOTAL
      - MOVING_AVERAGE
      - MOVING_SUM
      - ROLLING_MINIMUM
      - ROLLING_MAXIMUM
      - WINDOWED
      - TIME_WEIGHTED_AVERAGE
      - EXPONENTIALLY_WEIGHTED_AVERAGE
      - INTERPOLATED
      - EXTRAPOLATED
      - NORMALIZED
      - INDEXED
      - RATIO
      - BOOLEAN_ANY
      - BOOLEAN_ALL
      - MAJORITY
      - CONSENSUS
      - CUSTOM
      - ITEM
      - LIST
      - TOTAL
      - MEAN
      - AVG
      - DISTINCT
      - MAX
      - MIN
      - OTHER
      - UNKNOWN
    AlertStatusTypes:
      type: string
      description: types of alert status.
      enum:
      - ACTIVE
      - ACKNOWLEDGED
      - IN_PROGRESS
      - RESOLVED
      - CLOSED
      - EXPIRED
      - CANCELLED
      - UNKNOWN
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-08-24T19:44:08Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DealerReference:
      type: object
      properties:
        dealer_reference_key:
          type: string
          description: Unique transactional key identifying this specific reference
            instance.
        dealer_key:
          type: string
          description: A unique key referencing the parent dealer record.
        dealer_id:
          type: string
          description: The unique business ID for the referenced dealer.
        dealer_name:
          type: string
          description: The name of the dealership captured at transaction time.
        dealer_bac:
          type: string
          description: The dealer's Business Associate Code (BAC) for OEM correlation.
        franchise_code:
          type: string
          description: A business classification code for the dealership.
        business_code:
          type: string
          description: A business classification code for the dealership.
        country_code:
          type: string
          description: "The ISO country code for the dealership, used in geographic\
            \ privacy lookups."
        organization_path:
          type: string
          description: "The hierarchical organizational locator path representing\
            \ the brand, dealer, store, and department (e.g., 'ford.appointment.dealer.store34.dept45')."
          example: ford.appointment.dealer.store34.dept45
      description: A lightweight reference representation of a Dealership.
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-08-24T19:44:08Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-08-24T19:44:08Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-08-24T19:44:08Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-08-24T19:44:08Z
      description: nullable
    List:
      type: array
      items:
        type: string
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    LocationTypes:
      type: string
      description: types of locations.
      enum:
      - BOROUGH
      - PARISH
      - REGION
      - BOUNDARY
      - PROVINCE
      - VILLAGE
      - STATE
      - CITY
      - COUNTRY
      - LOCALITY
      - POSTAL
      - STREET
      - SUB_ADMIN_AREA
      - SUB_LOCALITY
      - FEDERAL
      - COUNTY
      - TELEMATICS
      - ADDRESS
      - NO_PREFERENCE
      - GPS
      - WAREHOUSE
      - DISTRICT
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    MediaFormatTypes:
      type: string
      description: types of media formats.
      enum:
      - PDF
      - DOC
      - DOCX
      - XLS
      - XLSX
      - PPT
      - PPTX
      - AIFF
      - BMP
      - JPG
      - PNG
      - GIF
      - ICO
      - AVI
      - MPG
      - MP4
      - WMV
      - MOV
      - FLV
      - SWF
      - MKV
      - OCTET
      - GZ
      - BZ2
      - ZIP
      - RAR
      - ODT
      - MOBI
      - HTML
      - EPUB
      - SVG
      - FLAC
      - WAV
      - JSON
      - YAML
      - CSV
      - CONTAINER
      - OTHER
    MediaPrivacyTypes:
      type: string
      description: types of media privacys.
      enum:
      - PUBLIC
      - AUTHORIZED
      - PRIVATE
      - SCHEDULED
      - UNLISTED
      - ARCHIVED
      - DRAFT
    MediaReference:
      type: object
      properties:
        media_key:
          type: string
          description: The unique persistent key identifier for the media item.
        media_id:
          type: string
          description: The logical business identifier assigned to the media item.
        name:
          type: string
          description: The descriptive name or filename of the media item.
        media_type:
          $ref: "#/components/schemas/MediaTypes"
        media_format_type:
          $ref: "#/components/schemas/MediaFormatTypes"
        media_visibility:
          $ref: "#/components/schemas/MediaVisibility"
        signature:
          type: string
          description: The unique checksum hash validating the raw media file's structural
            integrity.
        media_href:
          type: string
          description: The direct hypermedia link pointing to the downstream physical
            binary or target REST resource.
          format: href
        capture_stage_type:
          type: string
          description: "The operational service phase or workflow event during which\
            \ the media was captured (e.g., VEHICLE_ARRIVAL, INITIAL_INSPECTION, TECHNICIAN_INSPECTION,\
            \ SERVICE_COMPLETED, FINAL_INSPECTION, POLICE_INCIDENT, OTHER)."
          example: INITIAL_INSPECTION
      description: media.reference.desc
    MediaReferences:
      type: array
      items:
        $ref: "#/components/schemas/MediaReference"
    MediaTypes:
      type: string
      description: types of medias.
      enum:
      - OCTET
      - TEXT
      - HTML
      - CSS
      - JAVASCRIPT
      - JSON
      - XML
      - IMAGE
      - GIF
      - SVG
      - JPEG
      - PNG
      - AUDIO
      - MP3
      - WAV
      - VIDEO
      - MP4
      - MPEG
      - QUICKTIME
      - STREAM
      - APPLICATION
      - ARCHIVE
      - EXECUTABLE
      - DOCUMENT
      - PDF
      - MODEL
      - FONT
      - FILE
    MediaVisibility:
      type: object
      properties:
        media_visibility_key:
          type: string
          description: The unique key for the media visibility record.
        visibility_key:
          type: string
          description: The unique key for visibility.
        media_privacy_type:
          $ref: "#/components/schemas/MediaPrivacyTypes"
        externally_hosted_indicator:
          type: boolean
          description: A boolean indicator for whether the media is hosted externally.
          example: false
      description: "Represents the visibility and hosting details for media, such\
        \ as privacy settings and scheduling."
    Memo:
      type: array
      items:
        type: string
    MetricNameValue:
      type: object
      properties:
        metric_name_value_key:
          type: string
          description: A unique key for the metric name value record.
        metric_name_value_id:
          type: string
          description: The unique ID for the metric name value.
        header_sequence:
          type: string
          description: The header sequence for the metric value.
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        value:
          type: string
          description: The value of the metric.
        value_category:
          type: string
          description: The category of the metric value.
        value_description:
          type: string
          description: A description of the metric value.
        value_name:
          type: string
          description: The name of the metric value.
        codes:
          $ref: "#/components/schemas/Codes"
      description: A metric value with a name and unit of measure.
    MetricNameValues:
      type: array
      items:
        $ref: "#/components/schemas/MetricNameValue"
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Narrative:
      type: object
      properties:
        narrative_key:
          type: string
          description: A unique key for the narrative record.
        narrative_id:
          type: string
          description: The unique ID for the narrative.
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        actor:
          $ref: "#/components/schemas/ActorReference"
        event_actor_role_type:
          $ref: "#/components/schemas/StaffRoleTypes"
        event_content:
          $ref: "#/components/schemas/Memo"
        event_date_time:
          type: string
          description: The date and time of the event.
          format: date-time
          example: 2026-08-24T19:44:08Z
        narrative_group:
          type: string
          description: The group to which the narrative belongs.
        narrative_action:
          $ref: "#/components/schemas/Memo"
        narrative_desc:
          type: string
          description: A description for the narrative.
        narrative_metrics:
          $ref: "#/components/schemas/MetricNameValues"
        narrative_type:
          $ref: "#/components/schemas/NarrativeTypes"
        narrative_name:
          type: string
          description: The name of the narrative.
        narrative_code:
          type: string
          description: The code for the narrative.
        narrative_value:
          type: string
          description: The value of the narrative.
        narrative_uom_type:
          $ref: "#/components/schemas/NarrativeUomTypes"
        internal_indicator:
          type: boolean
          description: An indicator for whether the narrative is internal.
          example: false
      description: narrative of conversation
    NarrativeTypes:
      type: string
      description: types of narratives.
      enum:
      - ALERT
      - INFO
      - ERROR
      - AGGREGATE
      - CASE
      - DENIAL
      - COMPLAINT
      - SYMPTOM
      - DIAGNOSTIC
      - DIAGNOSTIC_PROCESS
      - DIAGNOSTIC_METRICS
      - CAUSE
      - CORRECTION
      - SERVICE
      - MAINTENANCE
      - INSPECTION
      - PART
      - FAILURE
      - LABOR
      - SUBLET
      - RECALL
      - WARRANTY
      - SALE_NEW
      - SALE_USED
      - ESTIMATE
      - INVOICE
      - COMMUNICATION
      - CUSTOMER_NOTE
      - FINAL_REPORT
      - REQUIREMENT_METRICS
      - REPORTING_METRICS
      - SERVICE_LIFECYCLE_MILESTONE
      - WARRANTY_APPROVAL
      - WARRANTY_DENIAL
      - WARRANTY_APPEAL
      - CLAIM
      - FLEET
      - TELEMETRY
      - COMPLIANCE
      - AUDIT
      - SECURITY
      - TRANSPORT
      - DELIVERY
      - INVENTORY
      - SALES
      - FINANCIAL
      - SERVICE_PLAN
      - VEHICLE_LIFECYCLE
      - OWNERSHIP
      - INSURANCE
      - LOGISTICS
      - QUALITY
      - RISK
      - CONSEQUENCE
      - AI_RECOMMENDATION
      - DECISION
      - BUSINESS_RULE
      - INTENT
      - CAPABILITY
      - CUSTOM_ORDER
      - SPECIAL
      - DISCLAIMER
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    Narratives:
      type: array
      items:
        $ref: "#/components/schemas/Narrative"
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        party_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
        primary_role_name:
          maxLength: 80
          minLength: 1
          type: string
          description: The principal functional role or stakeholder classification
            assigned to the party within this domain interaction.
          example: DEALER_OPERATOR
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-08-24T19:44:08Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
        identifiers:
          $ref: "#/components/schemas/Identifiers"
      description: External system identifier
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - WARRANTY_PROVIDER
      - INSURANCE_PROVIDER
      - SUBLET_PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - SCHEDULER
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - PRIMARY_TECHNICIAN
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - FLEET_MANAGER
      - TRANSPORT_PROVIDER
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - PRIMARY_CUSTOMER
      - PRIMARY_DRIVER
      - SECONDARY_DRIVER
      - PRIMARY_OWNER
      - SECONDARY_OWNER
      - CO_OWNER
      - VEHICLE_OWNER
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - PRIMARY_CONTACT
      - APPROVER
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
      - SHIP_TO
      - SOLD_TO
      - SHIP_THROUGH
    PersonName:
      type: object
      properties:
        alias:
          type: string
          description: Alternative or informal name or role.
          example: AJ
        family_name:
          type: string
          description: Family or last name.
          example: Smith
        full_name:
          type: string
          description: Complete name as one string.
          example: Alice Jane Smith
        given_name:
          type: string
          description: First or given name.
          example: Alice
        identifiers_href:
          type: string
          description: Reference to external identifiers.
          format: href
          example: /identifiers/12345
        maiden_name:
          type: string
          description: Previous family name before marriage.
          example: Johnson
        middle_name:
          type: string
          description: Middle name(s).
          example: Jane
        name_suffix:
          type: string
          description: "Suffix such as Jr., Sr., III."
          example: Jr.
        party_key:
          type: string
          description: External party key.
          example: PARTY-KEY-123
        person_key:
          type: string
          description: External person key.
          example: PERSON-KEY-789
        person_name_key:
          type: string
          description: Unique person name key.
          example: NAME-KEY-456
        person_name_id:
          type: string
          description: Unique person name id.
          example: NAME-ID-456
        preferred_name:
          type: string
          description: Preferred name used in informal situations.
          example: Ali
        salutation:
          type: string
          description: "Salutation or title such as Mr., Ms., Dr."
          example: Dr.
        professional_title:
          type: string
          description: "Professional Title like Senator, Principal, Nurse"
          example: Dr.
        honorific_prefix:
          type: string
          description: "Prefix title used before the person's name (e.g., Dr., Mr.,\
            \ Ms.)."
          example: Dr.
        honorific_suffix:
          type: string
          description: "Suffix title used after the person's name (e.g., Jr., Sr.,\
            \ III)."
          example: Jr.
        locale:
          type: string
          description: Locale or language region associated with the person.
          example: en-US
        phonetic_family_name:
          type: string
          description: Phonetic representation of the family name.
          example: FAM-nee
        phonetic_given_name:
          type: string
          description: Phonetic representation of the given name.
          example: GA-vin
        phonetic_middle_name:
          type: string
          description: Phonetic representation of the middle name.
          example: MI-chal
        nationality:
          type: string
          description: Nationality of the person.
          example: Canadian
        person_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        person_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
      description: a Name for a person
    Position:
      type: object
      properties:
        position_id:
          type: string
          description: Unique identifier for this position
          example: pos-001
        position_key:
          type: string
          description: Business key for this position record
          example: POS-ATL-WEST
        latitude:
          type: string
          description: Latitude of the location
          example: "33.7490"
        longitude:
          type: string
          description: Longitude of the location
          example: "-84.3880"
        altitude:
          type: string
          description: Altitude of the location
          example: "320"
        bearing:
          type: string
          description: Bearing direction (compass)
          example: NW
        postal_code:
          type: string
          description: Postal code of the location
          example: "30303"
        county_code:
          pattern: "^[a-zA-Z0-9_]+$"
          type: string
          description: Standardized code for the county.
        position_codes:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      description: "position meta-data that includes postal code, and lat/long"
    PriorityTypes:
      type: string
      description: types of prioritys.
      enum:
      - LOW
      - NORMAL
      - HIGH
      - CRITICAL
      - EMERGENCY
      - UNKNOWN
    PrivacyAdapterTypes:
      type: string
      description: types of privacy adapters.
      enum:
      - LLM
      - AI_AGENT
      - EXTERNAL_API
      - DATABASE
      - MESSAGE_BROKER
      - INTERNAL_API
      - ALL
    PrivacyPersonaTypes:
      type: string
      description: types of privacy personas.
      enum:
      - DEALER
      - THIRD_PARTY
      - MANUFACTURER
      - CONSUMER
      - REGULATOR
      - UNKNOWN
    PrivacyPolicyRule:
      type: object
      properties:
        privacy_policy_rule_key:
          type: string
          description: The data classification type this rule targets.
        privacy_policy_rule_id:
          type: string
          description: The data classification type this rule targets.
        target_persona_type:
          $ref: "#/components/schemas/PrivacyPersonaTypes"
        target_data_category_type:
          $ref: "#/components/schemas/PrivacyTypes"
        adapter_type:
          $ref: "#/components/schemas/PrivacyAdapterTypes"
        default_strategy_type:
          $ref: "#/components/schemas/MaskingStrategyTypes"
        active_indicator:
          type: boolean
          description: Indicates if this macro policy rule is actively being enforced.
          example: false
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
      description: PrivacyPolicyRule
    PrivacyPolicyRules:
      type: array
      items:
        $ref: "#/components/schemas/PrivacyPolicyRule"
    PrivacyTypes:
      type: string
      description: types of privacys.
      enum:
      - SOCIAL_SECURITY_NUMBER
      - DATE_OF_BIRTH
      - DRIVER_LICENSE_NUMBER
      - PASSPORT_NUMBER
      - PHONE_NUMBER
      - EMAIL_ADDRESS
      - HOME_ADDRESS
      - MOTHER_MAIDEN_NAME
      - TAX_ID_NUMBER
      - UNION_GOVERNMENT_ID
      - NATIONALITY_CITIZENSHIP
      - ACCOUNT_CREDENTIALS
      - GENERAL_PERSONAL
      - CREDIT_CARD_NUMBER
      - BANK_ACCOUNT_NUMBER
      - ROUTING_NUMBER
      - PAYPAL_ACCOUNT
      - CRYPTO_WALLET_ADDRESS
      - GENERAL_FINANCIAL
      - HEALTH_INSURANCE_ID
      - MEDICAL_RECORD_NUMBER
      - PRESCRIPTION_DETAILS
      - GENETIC_DATA
      - SEX_LIFE_HEALTH
      - GENERAL_MEDICAL
      - FINGERPRINT
      - FACE_SCAN
      - VOICE_PRINT
      - EMOTION_RECOGNITION_DATA
      - GENERAL_BIO
      - GENERAL_CONTACT
      - SOCIAL_MEDIA_HANDLE
      - SOCIAL_MEDIA_PROFILE
      - IP_ADDRESS
      - DEVICE_ID
      - GEOLOCATION_DATA
      - ONLINE_BEHAVIORAL_DATA
      - GENERAL_SOCIAL
      - POLITICAL_AFFILIATION
      - RELIGIOUS_PHILOSOPHICAL_BELIEF
      - SEXUAL_ORIENTATION
      - RACIAL_ETHNIC_ORIGIN
      - TRADE_UNION_MEMBERSHIP
      - CRIMINAL_RECORD_HISTORY
      - THIRD_PARTY_CUSTOMER_DATA
      - THIRD_PARTY_BUSINESS_DATA
      - GENERAL_BUSINESS
      - GENERAL_OPERATIONAL
      - GENERAL_DATA
      - ALL_DATA
      - CUSTOM
      - UNKNOWN
    ServiceMilestoneTypes:
      type: string
      description: types of service milestones.
      enum:
      - BOOKING
      - EXPECTED_ARRIVAL
      - ARRIVAL
      - CHECK_IN
      - PRE_INSPECTION
      - DIAGNOSTIC_START
      - DIAGNOSTIC_COMPLETE
      - ESTIMATE_APPROVED
      - SERVICE_START
      - ROAD_TEST
      - SERVICE_PAUSED
      - SERVICE_COMPLETION
      - SUBLET_DISPATCH
      - SUBLET_IN_PROGRESS
      - SUBLET_RETURN
      - QUALITY_CONTROL
      - STAGED_FOR_PICKUP
      - CHECK_OUT
      - RELEASE
      - INFORMATIONAL
      - MILESTONE
      - UNKNOWN
    SeverityTypes:
      type: string
      description: types of severitys.
      enum:
      - TRACE
      - DEBUG
      - NOTICE
      - INFO
      - LOW
      - MEDIUM
      - EMERGENCY
      - HIGH
      - CRITICAL
    StaffRoleTypes:
      type: string
      description: types of staff roles.
      enum:
      - DEALER_PRINCIPAL
      - GENERAL_MANAGER
      - GENERAL_SALES_MANAGER
      - SALES_MANAGER
      - SALES_PERSON
      - BUSINESS_DEVELOPMENT_REPRESENTATIVE
      - CUSTOMER_SERVICE_REPRESENTATIVE
      - RECEPTIONIST
      - FINANCE_AND_INSURANCE_MANAGER
      - BUSINESS_MANAGER
      - CLOSING_MANAGER
      - SERVICE_MANAGER
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - WARRANTY_ADMINISTRATOR
      - PARTS_MANAGER
      - PARTS_ADVISOR
      - PARTS_SPECIALIST
      - INVENTORY_MANAGER
      - FLEET_MANAGER
      - DETAIL_MANAGER
      - DETAIL_TECHNICIAN
      - ACCOUNTING_MANAGER
      - CONTROLLER
      - TITLE_CLERK
      - OFFICE_MANAGER
      - MARKETING_MANAGER
      - OTHER
    TelemetryEventTypes:
      type: string
      description: types of telemetry events.
      enum:
      - ENGINE_STARTED
      - ENGINE_STOPPED
      - ENGINE_RPM_EXCEEDED
      - COOLANT_TEMPERATURE_HIGH
      - OIL_PRESSURE_LOW
      - TRANSMISSION_FLUID_TEMP_HIGH
      - DTC_SET
      - DTC_CLEARED
      - CHECK_ENGINE_LIGHT_ON
      - CHECK_ENGINE_LIGHT_OFF
      - ECU_FIRMWARE_UPDATED
      - FREEZE_FRAME_CAPTURED
      - PENDING_DTC_SET
      - TELEMETRY_HEALTH_CHECK_FAILED
      - SERVICE_FACILITY_ARRIVED
      - SERVICE_BAY_ENTERED
      - SERVICE_BAY_EXITED
      - ON_DEMAND_DIAGNOSTIC_REQUESTED
      - ON_DEMAND_DIAGNOSTIC_COMPLETED
      - ON_DEMAND_DIAGNOSTIC_FAILED
      - SERVICE_DUE_WARNING
      - OIL_LIFE_THRESHOLD_REACHED
      - BRAKE_PAD_WEAR_WARNING
      - INSPECTION_OVERDUE
      - DEF_LEVEL_LOW
      - MAINTENANCE_RESET_PERFORMED
      - HARSH_ACCELERATION
      - HARSH_BRAKING
      - HARSH_CORNERING
      - SPEEDING_STARTED
      - SPEEDING_ENDED
      - SEATBELT_UNBUCKLED
      - GEOFENCE_ENTERED
      - GEOFENCE_EXITED
      - LOCATION_PULSE
      - IDLE_STARTED
      - IDLE_ENDED
      - BATTERY_STATE_OF_CHARGE_LOW
      - EV_CHARGING_STARTED
      - EV_CHARGING_COMPLETED
      - EV_CHARGING_INTERRUPTED
      - CRASH_DETECTED
      - IMPACT_PARKED
      - DOOR_UNLOCKED_REMOTE
      - PANIC_ALARM_TRIGGERED
      - TIRE_PRESSURE_LOW
      - VEHICLE_STAGING_ENTERED
      - DIAGNOSTIC_TOOL_CONNECTED
      - VEHICLE_HOIST_ENGAGED
      - VALET_MODE_ACTIVATED
      - SERVICE_LANE_DRIVE_IN
      - WALKAROUND_INSPECTION_COMPLETED
      - ROAD_TEST_STARTED
      - ROAD_TEST_COMPLETED
      - QUALITY_CONTROL_APPROVED
      - READY_FOR_PICKUP_STAGED
      - CUSTOMER_PICKUP_DEPARTED
    TimeSlot:
      type: object
      properties:
        time_slot_key:
          maxLength: 50
          minLength: 1
          type: string
          description: Unique surrogate key for the specific time slot instance.
          example: TS-KEY-99281A
        end_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        end_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        recurring_indicator:
          type: boolean
          description: Indicates whether the time slot repeats on a recurring cycle.
          example: true
        recurring_period:
          $ref: "#/components/schemas/EffectivePeriod"
        start_day:
          $ref: "#/components/schemas/DayOfWeekTypes"
        start_time:
          maxLength: 8
          minLength: 5
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d):([0-5]\\d)$"
          type: string
          description: Time with format of HH:mm:ss
          example: "52200"
        timeslot_directive_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/TimeslotDirectiveTypes"
        time_slot_id:
          maxLength: 36
          minLength: 1
          type: string
          description: The business identifier or code assigned to this generic time
            block configuration.
          example: MORNING_SHIFT_01
        week_of_date:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          format: date
          items:
            type: string
        timeslot_status_type:
          $ref: "#/components/schemas/TimeSlotStatusTypes"
      description: Range of time for the appointment
    TimeSlotStatusTypes:
      type: string
      description: types of time slot status.
      enum:
      - TENTATIVE
      - RESERVED
      - CONFIRMED
      - RELEASED
    TimeSlots:
      type: array
      items:
        $ref: "#/components/schemas/TimeSlot"
    TimeslotDirectiveTypes:
      type: string
      description: types of timeslot directives.
      enum:
      - AFTER
      - ANYTIME
      - BEFORE
      - BETWEEN
      - BLOCK
      - EXACT
      - FLEXIBLE
      - PREFERRED
      - REQUIRED
      - RESTRICTED
      - OTHER
      - UNKNOWN
    VehicleAlert:
      type: object
      properties:
        vehicle_alert_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique contextual key identifying the vehicle alert within
            the containing system or transaction.
          example: ALERT-882211
        vehicle_alert_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique contextual key identifying the vehicle alert within
            the containing system or transaction.
          example: ALERT-882211
        alert_group_key:
          maxLength: 100
          minLength: 1
          type: string
          description: The persistent or externally assigned identifier for the alert.
          example: OEM-ALERT-9982
        vehicle_reference:
          $ref: "#/components/schemas/VehicleReference"
        dealer_reference:
          $ref: "#/components/schemas/DealerReference"
        customer_reference:
          $ref: "#/components/schemas/PartyReference"
        telemetry_event_reference:
          $ref: "#/components/schemas/VehicleTelemetryEventReference"
        alert_type:
          $ref: "#/components/schemas/VehicleAlertTypes"
        alert_status_type:
          $ref: "#/components/schemas/AlertStatusTypes"
        alert_severity:
          $ref: "#/components/schemas/SeverityTypes"
        alert_priority_type:
          $ref: "#/components/schemas/PriorityTypes"
        alert_title:
          maxLength: 255
          minLength: 1
          type: string
          description: The short human-readable title identifying the vehicle alert.
          example: Engine Cooling System Requires Attention
        alert_narratives:
          $ref: "#/components/schemas/Narratives"
        alert_category_codes:
          $ref: "#/components/schemas/Codes"
        warning_indicator_codes:
          $ref: "#/components/schemas/Codes"
        diagnostic_trouble_codes:
          $ref: "#/components/schemas/Codes"
        failure_type_codes:
          $ref: "#/components/schemas/Codes"
        customer_actions:
          $ref: "#/components/schemas/Narratives"
        service_action_program_codes:
          $ref: "#/components/schemas/Codes"
        local_service_action_codes:
          $ref: "#/components/schemas/Codes"
        prognostic_message_codes:
          $ref: "#/components/schemas/Codes"
        created_date_time:
          type: string
          description: The date and time when the alert record was created by the
            originating or authoritative system.
          format: date-time
          example: 2026-08-24T19:44:08Z
        effective_date_time:
          type: string
          description: The date and time when the alert became active or applicable.
          format: date-time
          example: 2026-08-24T19:44:08Z
        updated_date_time:
          type: string
          description: The date and time when the alert record was most recently updated.
          format: date-time
          example: 2026-08-24T19:44:08Z
        occurrence_date_time:
          type: string
          description: The date and time when the underlying vehicle condition or
            event represented by the alert occurred.
          format: date-time
          example: 2026-08-24T19:44:08Z
        position:
          $ref: "#/components/schemas/Position"
        odometer:
          $ref: "#/components/schemas/MetricValue"
        vehicle_snapshots:
          $ref: "#/components/schemas/VehicleSnapshots"
        source_system_code:
          $ref: "#/components/schemas/Codes"
        source_alert_code:
          $ref: "#/components/schemas/Codes"
        source_record_key:
          maxLength: 120
          minLength: 1
          type: string
          description: The source-system record key used to trace the alert back to
            the originating record.
          example: OEM-VHA-20260806-18427
        vehicle_event_category_type:
          $ref: "#/components/schemas/VehicleEventCategoryTypes"
        resolved_indicator:
          type: boolean
          description: Indicates whether the vehicle alert has been resolved.
          example: false
        resolved_date_time:
          type: string
          description: The date and time when the vehicle alert was resolved.
          format: date-time
          example: 2026-08-24T19:44:08Z
        resolution_description:
          $ref: "#/components/schemas/Narrative"
        resolution_codes:
          $ref: "#/components/schemas/Codes"
        expiration_date_time:
          type: string
          description: The date and time when the vehicle alert expires or is no longer
            considered applicable.
          format: date-time
          example: 2026-08-24T19:44:08Z
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: "The correlation identifier used to associate the alert with\
            \ telemetry, diagnostics, service activity, campaigns, and related business\
            \ processes."
          example: CORR-882211
        confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: "The confidence score assigned to the alert by the originating,\
            \ diagnostic, predictive, or analytical system."
          example: "0.997"
        event_hash:
          maxLength: 256
          minLength: 1
          type: string
          description: The immutable hash used to verify the integrity of the vehicle
            alert representation.
          example: SHA256:7f3d4c8a9b1e...
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        governance_codes:
          $ref: "#/components/schemas/Codes"
        privacy_codes:
          $ref: "#/components/schemas/Codes"
      description: Connected Vehicle Alert
    VehicleAlertTypes:
      type: string
      description: types of vehicle alerts.
      enum:
      - VEHICLE_HEALTH
      - FIELD_SERVICE_ACTION
      - RECALL
      - PREDICTIVE
      - DIAGNOSTIC
      - MAINTENANCE
      - SAFETY
      - WARNING_INDICATOR
      - SYSTEM_FAULT
      - PERFORMANCE
      - BATTERY_HEALTH
      - CHARGING
      - RANGE
      - TIRE
      - FLUID
      - EMISSIONS
      - CONNECTIVITY
      - SOFTWARE
      - SECURITY
      - SERVICE_DUE
      - SERVICE_RECOMMENDATION
      - WARRANTY
      - COMPLIANCE
      - INFORMATIONAL
      - OTHER
      - UNKNOWN
    VehicleEventCategoryTypes:
      type: string
      description: types of vehicle event categorys.
      enum:
      - DOCUMENT_LIFECYCLE
      - OWNERSHIP
      - DAMAGE
      - SERVICE
      - ODOMETER
      - USAGE
      - INSURANCE
      - MANUFACTURING
      - INVENTORY
      - LOGISTICS
      - CONNECTIVITY
      - MOBILITY
      - SAFETY
      - POWERTRAIN
      - DIAGNOSTICS
      - COMPLIANCE
      - LEGAL
      - FINANCIAL
      - CUSTOMER
      - REMOTE_OPERATIONS
      - SOFTWARE
      - GEOFENCING
      - SECURITY
      - REPUTATION
      - PARTNER
      - ENTERPRISE
      - PUBLIC
      - LOCATION
      - ELECTRICAL
      - CHASSIS
      - MAINTENANCE
      - OTHER
    VehicleReference:
      type: object
      properties:
        vehicle_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique lightweight reference key representing the denormalized
            vehicle projection used across bounded contexts.
          example: VREF-882211
        vehicle_reference_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique identifier for the lightweight denormalized vehicle
            reference projection.
          example: VR-993821
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical enterprise vehicle identity anchor associated
            with this denormalized vehicle reference.
          example: VID-00088211
        vin:
          maxLength: 17
          minLength: 11
          type: string
          description: The Vehicle Identification Number (VIN) associated with the
            vehicle reference.
          example: 1FT8W3BT6SEC12345
        model_year:
          maxLength: 4
          minLength: 1
          type: string
          description: The OEM model year associated with the vehicle reference projection.
          example: "2026"
        make:
          maxLength: 80
          minLength: 1
          type: string
          description: The manufacturer brand associated with the vehicle reference
            projection.
          example: Ford
        model:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM model associated with the vehicle reference projection.
          example: F-350 Super Duty
        trim:
          maxLength: 120
          minLength: 1
          type: string
          description: The OEM trim designation associated with the vehicle reference
            projection.
          example: Lariat
        display_name:
          maxLength: 200
          minLength: 1
          type: string
          description: "The human-readable formatted vehicle display name used for\
            \ search results, dashboards, and UI rendering."
          example: 2026 Ford F-350 Super Duty Lariat
        stock_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer or inventory stock number associated
            with the vehicle reference.
          example: F12345
        license_plate:
          maxLength: 20
          minLength: 1
          type: string
          description: The latest known government-issued vehicle license plate associated
            with the vehicle reference.
          example: ABC1234
        dealer_code:
          maxLength: 40
          minLength: 1
          type: string
          description: The latest known dealer organization code associated with the
            vehicle reference.
          example: ATL-001
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        tags:
          $ref: "#/components/schemas/Codes"
        body_style:
          maxLength: 100
          minLength: 1
          type: string
          description: The baseline layout style design of the chassis structure shell.
          example: Crew Cab Pickup
        trim_codes:
          $ref: "#/components/schemas/Codes"
        trim_dd_codes:
          $ref: "#/components/schemas/Codes"
        final_assembly_point:
          $ref: "#/components/schemas/Codes"
        fleet_codes:
          $ref: "#/components/schemas/Codes"
      description: Vehicle Detail Create Information
    VehicleResourceTypes:
      type: string
      description: types of vehicle resources.
      enum:
      - POWER_TRAIN
      - BODY
      - CHASSIS
      - NETWORK
      - AIR_METERING
      - IGNITION
      - EMISSION
      - SPEED_CONTROL
      - IDLE_CONTROL
      - TRANSMISSION
      - ELECTRICAL
      - TIRE
      - OIL
      - BRAKE_PAD
      - BRAKE_FLUID
      - AIRBAG
      - BRAKES
      - ENGINE
      - STABILITY
      - WASHER_FLUID
      - STARTER
      - DIAGNOSTIC
      - LAMPS
      - MOTOR
      - BATTERY
      - LIGHTS
      - ODOMETER
      - SPEED
      - FUEL
      - CHARGE
      - PLACARD
      - GEAR
      - IDLE
      - DOOR
      - PLUG
      - CHARGE_PRIORITY
      - CHARGE_POWER
      - CHARGER
      - RANGE
      - ENERGY
      - AIR_EXT
      - AIR_INT
      - DRIVE_CYCLE
      - SYSTEM_SW
      - SYSTEM_HW
      - FLUID
      - AIR_FILTER
      - OTHER
    VehicleSnapshot:
      type: object
      properties:
        vehicle_snapshot_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing a point-in-time vehicle
            snapshot.
          example: VSNAP-882211
        vehicle_snapshot_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated identifier for the vehicle
            snapshot.
          example: SNAP-2026-00991
        snapshot_type:
          maxLength: 80
          minLength: 1
          type: string
          description: The type of vehicle snapshot captured.
          example: TRIP_START
        snapshot_source:
          maxLength: 120
          minLength: 1
          type: string
          description: "The system, device, user, or provider that generated the vehicle\
            \ snapshot."
          example: TELEMATICS_GATEWAY
        parent_entity_key:
          maxLength: 120
          minLength: 1
          type: string
          description: "The system, device, user, or provider that generated the vehicle\
            \ snapshot."
          example: TELEMATICS_GATEWAY
        occurrence_date_time:
          type: string
          description: The timestamp documenting when the vehicle snapshot was captured.
          format: date-time
          example: 2026-08-24T19:44:08Z
        vehicle_state_position:
          $ref: "#/components/schemas/VehicleStatePosition"
        vehicle_states:
          $ref: "#/components/schemas/VehicleStates"
        narratives:
          $ref: "#/components/schemas/Narratives"
        description:
          type: string
          description: The descriptive memo associated with the vehicle snapshot.
        media_references:
          $ref: "#/components/schemas/MediaReferences"
        snapshot_codes:
          $ref: "#/components/schemas/Codes"
        service_milestone_types:
          $ref: "#/components/schemas/ServiceMilestoneTypes"
      description: nullable
    VehicleSnapshots:
      type: array
      items:
        $ref: "#/components/schemas/VehicleSnapshot"
    VehicleState:
      type: object
      properties:
        vehicle_state_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing a single vehicle state
            reading.
          example: VSTATE-882211
        vehicle_state_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated identifier for the vehicle
            state reading.
          example: STATE-2026-00991
        vehicle_state_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable name of the vehicle state reading.
          example: Battery State of Charge
        value:
          maxLength: 500
          minLength: 1
          type: string
          description: The raw or normalized value captured for the vehicle state
            reading.
          example: "82"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        vehicle_system_type:
          $ref: "#/components/schemas/VehicleSystemTypes"
        vehicle_resource_type:
          $ref: "#/components/schemas/VehicleResourceTypes"
        vehicle_value_type:
          $ref: "#/components/schemas/VehicleStateUomTypes"
        vehicle_state_type:
          $ref: "#/components/schemas/VehicleStateTypes"
        vehicle_status_type:
          $ref: "#/components/schemas/VehicleStatusTypes"
        occurrence_date_time:
          type: string
          description: The timestamp documenting when the vehicle state reading was
            observed.
          format: date-time
          example: 2026-08-24T19:44:08Z
        recorded_date_time:
          type: string
          description: The timestamp documenting when the vehicle state reading was
            recorded by the platform.
          format: date-time
          example: 2026-08-24T19:44:08Z
        vehicle_state_position:
          $ref: "#/components/schemas/VehicleStatePosition"
        narratives:
          $ref: "#/components/schemas/Narratives"
        description:
          type: string
          description: The descriptive memo associated with the vehicle state reading.
        vehicle_state_codes:
          $ref: "#/components/schemas/Codes"
      description: nullable
    VehicleStatePosition:
      type: object
      properties:
        vehicle_state_position_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing the vehicle state position
            reading.
          example: VSPOS-882211
        vehicle_state_position_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated identifier for the vehicle
            state position reading.
          example: POS-2026-00991
        position_type:
          maxLength: 80
          minLength: 1
          type: string
          description: The classification describing the type of captured vehicle
            position.
          example: GPS
        description:
          type: string
          description: The descriptive memo associated with the vehicle state position
            reading.
        position:
          $ref: "#/components/schemas/Position"
        address:
          $ref: "#/components/schemas/Address"
        dop:
          maxLength: 20
          minLength: 1
          type: string
          description: The GPS dilution of precision quality measurement associated
            with the captured position.
          example: "1.5"
        altitude:
          $ref: "#/components/schemas/MetricValue"
        bearing:
          $ref: "#/components/schemas/MetricValue"
        speed:
          $ref: "#/components/schemas/MetricValue"
        horizontal_accuracy:
          $ref: "#/components/schemas/MetricValue"
        vertical_accuracy:
          $ref: "#/components/schemas/MetricValue"
        occurrence_date_time:
          type: string
          description: The timestamp documenting when the vehicle position reading
            was observed.
          format: date-time
          example: 2026-08-24T19:44:08Z
        recorded_date_time:
          type: string
          description: The timestamp documenting when the vehicle position reading
            was recorded by the platform.
          format: date-time
          example: 2026-08-24T19:44:08Z
        mask_indicator:
          type: boolean
          description: "Indicates whether the vehicle position was intentionally masked,\
            \ generalized, or privacy-protected."
          example: false
        position_codes:
          $ref: "#/components/schemas/Codes"
      description: nullable
    VehicleStateTypes:
      type: string
      description: types of vehicle states.
      enum:
      - OK
      - WARNING
      - CRITICAL
      - LOW
      - HIGH
      - "ON"
      - "OFF"
      - ACTIVE
      - DEPLOYED
      - CRASH
      - TEST
      - NONE
    VehicleStateUomTypes:
      type: string
      description: types of vehicle state uoms.
      enum:
      - CONSUMPTION
      - DETECTION
      - USAGE
      - REPLACEMENT
      - ROTATION
      - CHANGE
      - DEPLOYMENT
      - COST
      - UTILIZATION
      - PRESSURE
      - TEMPERATURE
      - WEAR
      - DAMAGE
      - DEFECTIVE
      - EXCESSIVE
      - POWER
      - LEAK
      - LEVEL
      - QUALITY
      - PERFORMANCE
      - USED
      - FLAT
      - ECONOMY
      - CAPACITY
      - STATE
      - LIFE
      - EFFICIENCY
      - VIBRATION
      - FAULT
      - INSTALLED
      - VALUE
      - DISTANCE
      - ACTUAL
      - AVG
      - MODE
      - MEAN
      - HARD
      - VIOLATION
      - POSITION
      - LIMIT
      - LIFETIME_HOURS
      - USABLE
      - STATUS
      - STATUS_ACTUAL
      - VALID
      - NOMINAL
      - POINTS
      - EVENT
      - OPEN
      - CLOSE
      - ACTIVE
      - UPDATING
    VehicleStates:
      type: array
      items:
        $ref: "#/components/schemas/VehicleState"
    VehicleStatusTypes:
      type: string
      description: types of vehicle status.
      enum:
      - PENDING_RESERVED
      - RESERVED
      - ACTIVE
      - SOLD
      - RECALL
      - PROPOSED
      - PENDING_ACQUISITION
      - IN_RECEIVING
      - IN_STOCK
      - IN_SERVICE
      - UNDER_MAINTENANCE
      - RETIRED
      - DISPOSED
      - LOST_STOLEN
      - OTHER
    VehicleSystemTypes:
      type: string
      description: types of vehicle systems.
      enum:
      - ELECTRICAL
      - LIGHTING
      - POWERTRAIN
      - DRIVETRAIN
      - ENGINE
      - TRANSMISSION
      - CONTROL
      - SENSORS
      - CAMERA
      - COMMUNICATION
      - NAVIGATION
      - MAPPING
      - CLIMATE_CONTROL
      - SECURITY
      - INFOTAINMENT
      - HMI
      - POWER_MANAGEMENT
      - CHARGING
      - ELECTRIC_POWER
      - BATTERY
      - AUTONOMOUS
      - ADAS
      - SAFETY
      - BRAKING
      - STEERING
      - SUSPENSION
      - V2X
      - TELEMATICS
      - DIAGNOSTICS
      - REPORTING
      - BODY
      - INTERIOR
      - EXTERIOR
      - FUEL
      - EXHAUST
      - OTHER
    VehicleTelemetryEventReference:
      type: object
      properties:
        vehicle_telemetry_event_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable identifier representing this telemetry event
            reference.
          example: VTREF-882211
        vehicle_telemetry_event_reference_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external identifier representing this telemetry event reference.
          example: VTREF-2026-001
        vehicle_telemetry_event_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The aggregate root key of the referenced vehicle telemetry
            event.
          example: VTEL-998211
        vehicle_telemetry_event_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external identifier of the referenced vehicle telemetry
            event.
          example: TEL-2026-00991
        connected_vehicle_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The connected vehicle associated with the telemetry event.
          example: CV-882211
        vehicle_identifier_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical vehicle identifier associated with the telemetry
            event.
          example: VEH-882211
        telemetry_event_type:
          $ref: "#/components/schemas/TelemetryEventTypes"
        vehicle_event_category_type:
          $ref: "#/components/schemas/VehicleEventCategoryTypes"
        occurrence_date_time:
          type: string
          description: The timestamp when the telemetry event occurred.
          format: date-time
          example: 2026-08-24T19:44:08Z
        position:
          $ref: "#/components/schemas/Position"
        event_sequence_num:
          maxLength: 40
          minLength: 1
          type: string
          description: The sequence number assigned to the telemetry event.
          example: "123456789"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: The correlation identifier used to associate related telemetry
            events.
          example: CORR-882211
        source_system_code:
          maxLength: 80
          minLength: 1
          type: string
          description: The originating system that produced the telemetry event.
          example: FORDPASS
        event_confidence_score:
          maxLength: 20
          minLength: 1
          type: string
          description: The confidence score assigned to the telemetry event.
          example: "0.998"
        telemetry_hash:
          maxLength: 256
          minLength: 1
          type: string
          description: The immutable integrity hash associated with the telemetry
            event.
          example: SHA256:4d9b9c7a...
        system_codes:
          $ref: "#/components/schemas/Codes"
        telemetry_snapshots:
          $ref: "#/components/schemas/VehicleTelemetryObservations"
      description: Vehicle Telemetry Event Reference
    VehicleTelemetryMetricTypes:
      type: string
      description: types of vehicle telemetry metrics.
      enum:
      - ODOMETER
      - SPEED
      - ENGINE_RPM
      - FUEL_LEVEL
      - BATTERY_LEVEL
      - BATTERY_STATE_OF_CHARGE
      - BATTERY_VOLTAGE
      - TIRE_PRESSURE
      - ENGINE_TEMPERATURE
      - AMBIENT_TEMPERATURE
      - HEADING
      - ACCELERATION
      - REMAINING_RANGE
      - OIL_LIFE
      - FLUID_LEVEL
      - BATTERY_SOC
      - UNKNOWN
    VehicleTelemetryObservation:
      type: object
      properties:
        vehicle_telemetry_observation_key:
          maxLength: 120
          minLength: 1
          type: string
          description: Business key that uniquely identifies the vehicle telemetry
            observation across participating systems.
          example: VTOBS-TIRE-PRESSURE-LF-20260724-0001
        vehicle_telemetry_observation_id:
          maxLength: 60
          minLength: 1
          type: string
          description: Unique system identifier for the vehicle telemetry observation
            record.
          example: "864867285876080651"
        metric_code:
          maxLength: 100
          minLength: 1
          type: string
          description: Canonical code identifying the telemetry metric represented
            by the observation.
          example: TIRE_PRESSURE_LEFT_FRONT
        source_system_code:
          maxLength: 100
          minLength: 1
          type: string
          description: "Code identifying the authoritative system, platform, gateway,\
            \ or service that supplied the telemetry observation."
          example: OEM_CONNECTED_VEHICLE_PLATFORM
        source_device_key:
          maxLength: 120
          minLength: 1
          type: string
          description: Reference key identifying the physical or virtual device from
            which the telemetry observation originated.
          example: DEVICE-VEHICLE-GATEWAY-993211
        sensor_identifier:
          maxLength: 120
          minLength: 1
          type: string
          description: "Identifier assigned to the sensor, electronic control unit,\
            \ module, or logical measurement source that generated the observation."
          example: TPMS-LF-01
        position_reference_key:
          maxLength: 120
          minLength: 1
          type: string
          description: Reference key identifying the geographic position associated
            with the telemetry observation.
          example: POSITION-OBS-864867285876080651
        valid_indicator:
          type: boolean
          description: Indicates whether the telemetry observation passed validation
            and is considered usable.
          example: true
        estimated_indicator:
          type: boolean
          description: Indicates whether the observation value was estimated rather
            than directly measured.
          example: false
        derived_indicator:
          type: boolean
          description: "Indicates whether the observation was calculated, inferred,\
            \ aggregated, or otherwise derived from one or more source measurements."
          example: false
        occurrence_date_time:
          type: string
          description: Date and time at which the measured condition or telemetry
            observation occurred at the source.
          format: date-time
          example: 2026-08-24T19:44:08Z
        sequence_number:
          minimum: 0
          type: integer
          description: Monotonically increasing sequence number assigned by the source
            device or system for event ordering and replay detection.
          format: int64
          example: 192847
        confidence_score:
          type: string
          description: Confidence score indicating how strongly the source or processing
            system believes the telemetry observation is accurate. Values range from
            0.0 through 1.0.
          example: "0.96"
        data_quality_score:
          type: string
          description: "Quality score representing the completeness, validity, consistency,\
            \ and reliability of the telemetry observation. Values range from 0.0\
            \ through 1.0."
          example: "0.94"
        aggregation_type:
          $ref: "#/components/schemas/AggregationTypes"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        observation_codes:
          $ref: "#/components/schemas/Codes"
        metric_type:
          $ref: "#/components/schemas/VehicleTelemetryMetricTypes"
        service_milestone_types:
          $ref: "#/components/schemas/ServiceMilestoneTypes"
        correlation_id:
          maxLength: 120
          minLength: 1
          type: string
          description: The correlation identifier used to associate related telemetry
            events.
          example: CORR-882211
        metric_value:
          $ref: "#/components/schemas/MetricValue"
        recorded_date_time:
          type: string
          description: Exact timestamp when the telemetry reading was captured.
          format: date-time
          example: 2026-08-24T19:44:08Z
        source:
          type: string
          description: "Origin of the telemetry data (e.g., MANUAL_ADVISOR_INPUT,\
            \ TELEMATICS_DONGLE, OBD_SCANNER)."
          example: OBD_SCANNER
      description: vehicle.telemetry.observation.desc
    VehicleTelemetryObservations:
      type: array
      items:
        $ref: "#/components/schemas/VehicleTelemetryObservation"
