openapi: 3.0.1
info:
  title: Automotive Retail Systems API - PartInvoice
  description: "A standardized interface for Automotive Retail operations, built upon\
    \ a formal Retail Ontology. It enables seamless integration \n\n**Key Capabilities:**\n\
    * **Catalog Management:** Unified definitions for parts, assemblies, and BOMs.\n\
    * **Inventory Orchestration:** Real-time visibility into warehouse and dealership\
    \ stock.\n* **Financial Workflows:** Automated invoicing and batch processing\
    \ for high-volume retail transactions.\n\nDesigned for high-reliability CI/CD\
    \ environments and asynchronous batch processing."
  contact:
    name: STAR Standards Platform Architecture
    url: https://www.starstandard.org
    email: architecture@starstandard.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.starstandard.org/v1
  description: Production server
- url: https://sandbox.starstandard.org/v1
  description: Sandbox for testing
paths: {}
components:
  schemas:
    ActorReference:
      type: object
      properties:
        actor_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        actor_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and actor context."
          example: REF-SALE-2026-CUST-99
        actor_key:
          type: string
          description: The business key of the actual Actor (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        actor_name:
          type: string
          description: The formal display name of the Actor at the time of reference.
          example: Northside Chevrolet Service Center
        actor_type:
          $ref: "#/components/schemas/ActorTypes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: External system identifier
    ActorTypes:
      type: string
      description: types of actors.
      enum:
      - USER
      - CUSTOMER
      - EMPLOYEE
      - DEALER
      - VENDOR
      - SUPPLIER
      - ORGANIZATION
      - SYSTEM
      - SERVICE
      - APPLICATION
      - API
      - AGENT
      - AI_AGENT
      - WORKFLOW
      - RULE_ENGINE
      - DEVICE
      - SENSOR
      - PARTNER
      - CONTRACTOR
      - GOVERNMENT
      - PROCESS
      - SCHEDULER
      - EVENT_HANDLER
      - UNKNOWN
    AddressReference:
      type: object
      properties:
        address_reference_key:
          type: string
          description: A unique key for the address reference.
        address_reference_id:
          type: string
          description: The unique value of the address reference.
        address_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/AddressTypes"
        address_line1:
          type: string
          description: "Primary address line (Street, PO Box, etc)."
        address_line2:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line3:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line4:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        address_line5:
          type: string
          description: "Secondary address line (Suite, Apt, etc)."
        city:
          type: string
          description: Name of the city.
        country_code:
          type: string
          description: Full name of the country.
        district:
          type: string
          description: Name of the district.
        label:
          maxLength: 50
          type: string
          description: Label or display name for the address.
        postal_code:
          maxLength: 20
          minLength: 3
          type: string
          description: Primary postal or ZIP code.
        state_province:
          maxLength: 50
          type: string
          description: State or equivalent subdivision.
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
      description: "A reference to an address, including its unique key and a list\
        \ of its usage types."
    AddressReferences:
      type: array
      items:
        $ref: "#/components/schemas/AddressReference"
    AddressTypes:
      type: string
      description: types of address.
      enum:
      - BILLING
      - SHIPPING
      - MAILING
      - POSTAL
      - HOME
      - RESIDENCE
      - WORK
      - BUSINESS
      - OFFICE
      - PO_BOX
      - LEGAL
      - SERVICE
      - DEALER
      - CONTRACT
      - AR_ADDRESS
      - RECIPIENT
      - DELIVERY
      - DESTINATION
      - ORIGINAL
      - CURRENT
      - PREVIOUS
      - TEMPORARY
      - VACATION
      - GARAGE
      - EMERGENCY
      - REBATE
      - SERVICE_CONTRACT
      - INSURANCE
      - PRODUCT
      - ARCHIVE
      - RAMP
      - RAIL
      - PORT
      - CONVOY
      - HUB
      - OTHER
    AuthorizationLevel:
      type: object
      properties:
        update_date_time:
          type: string
          description: Timestamp of the last update to this authorization
          format: date-time
          example: 2026-09-02T13:44:03Z
        authorized_indicator:
          type: boolean
          description: Indicates whether the authorization is currently active or
            granted
          example: false
        authorization_level_key:
          type: string
          description: Business key uniquely identifying the authorization
        auth_codes:
          $ref: "#/components/schemas/Codes"
        privacy_policy_rules:
          $ref: "#/components/schemas/PrivacyPolicyRules"
      description: Establish authorization level
    AuthorizationLevels:
      type: array
      items:
        $ref: "#/components/schemas/AuthorizationLevel"
    BusinessContext:
      type: object
      properties:
        intent_code:
          type: string
          description: "The unique identifier code for the strategic intent (e.g.,\
            \ IMPROVE_NET_OPERATING_VALUE)."
        business_action_code:
          type: string
          description: "The unique identifier code for the specific business action\
            \ (e.g., MINIMIZE_HOLDING_COSTS)."
        correlation_id:
          type: string
          description: The correlation ID tracking back to the specific Monte Carlo
            recommendation instance.
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
      description: "Represents the strategic lineage, intention, and operational state\
        \ accompanying an execution vector or streaming lifecycle event."
    Code:
      type: object
      properties:
        code_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Internal system-generated unique identifier for the code record.
          example: cd-9902-v1
        code_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique business reference key used to identify the code's context.
          example: VEHICLE_STATUS_CODE
        code:
          maxLength: 50
          minLength: 1
          type: string
          description: The literal value or mnemonic represented by this record.
          example: IN_TRANSIT
        description:
          maxLength: 255
          minLength: 5
          type: string
          description: A human-readable explanation of what the code represents.
          example: Indicates the vehicle has left the factory but not yet arrived
            at the dealer.
      description: not nullable
    Codes:
      type: array
      items:
        $ref: "#/components/schemas/Code"
    CommunicationChannel:
      type: object
      properties:
        communication_channel_key:
          type: string
          description: The unique key for the communication channel record.
        communication_channel_id:
          type: string
          description: The unique ID for the communication channel.
        communication_channel_type:
          $ref: "#/components/schemas/CommunicationChannelTypes"
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: "The value of the communication channel (e.g., an email address\
            \ or phone number)."
        verified_indicator:
          type: boolean
          description: A boolean indicator of whether the affiliate has been verified.
          example: false
        value_extension:
          type: string
          description: "An optional extension for the communication channel's value\
            \ (e.g., an extension number)."
        label:
          type: string
          description: "A label for the communication channel (e.g., 'Home,' 'Work')."
        locale:
          $ref: "#/components/schemas/Locale"
        preferred_indicator:
          type: boolean
          description: A boolean indicator of whether this is the preferred communication
            channel.
          example: false
        preferences:
          $ref: "#/components/schemas/TimeSlots"
        authorization_levels:
          $ref: "#/components/schemas/AuthorizationLevels"
        last_communication_status_type:
          $ref: "#/components/schemas/CommunicationStatusTypes"
      description: "Represents a communication channel, such as an email address or\
        \ phone number, with associated preferences and authorizations."
    CommunicationChannelTypes:
      type: string
      description: types of communication channels.
      enum:
      - PHONE
      - CELL
      - SMS
      - VOICE
      - VIDEO
      - EMAIL
      - APP
      - SOCIAL_MEDIA
      - URL
      - BROADCAST
      - DIRECT_MAIL
      - PDA
      - OTHER
    CommunicationChannels:
      type: array
      items:
        $ref: "#/components/schemas/CommunicationChannel"
    CommunicationStatusTypes:
      type: string
      description: types of communication status.
      enum:
      - PENDING
      - SCHEDULED
      - IN_PROGRESS
      - SENT
      - DELIVERED
      - READ
      - FAILED
      - BOUNCED
      - REJECTED
      - CANCELLED
      - EXPIRED
      - SUPPRESSED
      - OPTED_OUT
      - UNKNOWN
    ConditionGradeTypes:
      type: string
      description: types of condition grades.
      enum:
      - EXCELLENT
      - LIKE_NEW
      - VERY_GOOD
      - GOOD
      - ACCEPTABLE
      - FAIR
      - POOR
      - DAMAGED
      - UNGRADED
      - DAMAGED_MINOR
      - DAMAGED_MAJOR
      - DAMAGED_COSMETIC
      - OTHER
    ConditionTypes:
      type: string
      description: types of conditions.
      enum:
      - NEW
      - NEW_OLD_STOCK
      - REMANUFACTURED
      - REBUILT
      - REFURBISHED
      - USED
      - SALVAGE
      - SCRAP
      - COLLECTIBLE
      - CERTIFIED_PREOWNED
      - TOTAL_LOSS
      - REQUIRES_INSPECTION
      - UNKNOWN
      - OTHER
    ControlAccountReference:
      type: object
      properties:
        control_account_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        control_account_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        control_account:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: External system identifier
    CreditReference:
      type: object
      properties:
        credit_reference_id:
          type: string
          description: Unique identifier value
        credit_reference_key:
          type: string
          description: Unique identifier value
        credit_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-09-02T13:44:03Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    CreditReferences:
      type: array
      items:
        $ref: "#/components/schemas/CreditReference"
    CurrencyCode:
      type: string
      description: The three-letter ISO 4217 currency code used for financial transactions.
    CurrencyExchange:
      type: object
      properties:
        currency_exchange_id:
          type: string
          description: Unique system identifier for the currency exchange record.
          example: xch-8812-k5k
        currency_exchange_key:
          type: string
          description: Business-logical key identifying the specific conversion event
            or pair.
          example: USD-TO-CAD-2026-04-09
        source_currency:
          type: string
          description: The origin currency code for the conversion (Base Currency).
          example: USD
        target_currency:
          type: string
          description: The destination currency code for the conversion (Quote Currency).
          example: CAD
        currency_exchange_desc:
          type: string
          description: "Narrative title defining the rate's source (e.g., 'Reuters\
            \ Mid-Market', 'Internal Corporate Rate')."
          example: Mid-Market Daily Rate
        exchange_rate:
          type: string
          description: "The multiplier used to convert source to target, stored as\
            \ a high-precision string."
          example: "1.3542"
        rate_date_time:
          type: string
          description: The specific UTC timestamp when this exchange rate was captured
            or finalized.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: "CurrencyExchange that includes display value, currency, locale,\
        \ and value, along with tax and cost components."
    CurrencyExchanges:
      type: array
      items:
        $ref: "#/components/schemas/CurrencyExchange"
    DayOfWeekTypes:
      type: string
      description: types of day of weeks.
      enum:
      - SUN
      - MON
      - TUES
      - WED
      - THURS
      - FRI
      - SAT
    DeliveryDestinationTypes:
      type: string
      description: types of delivery destinations.
      enum:
      - DEALERSHIP
      - CUSTOMER
      - TECHNICIAN
      - WAREHOUSE
      - LOCKER
      - BODY_SHOP
      - FLEET_LOCATION
      - SERVICE_CENTER
      - PORT
      - AUCTION
      - OEM
      - VENDOR
      - OTHER
      - UNKNOWN
    DeliveryProfile:
      type: object
      properties:
        delivery_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable delivery profile identifier.
          example: DELIV-882211
        delivery_profile_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or provider-generated delivery profile identifier.
          example: DELIVERY-2026-001
        delivery_destination_type:
          $ref: "#/components/schemas/DeliveryDestinationTypes"
        fulfillment_method_type:
          $ref: "#/components/schemas/FulfillmentMethodTypes"
        service_level_type:
          $ref: "#/components/schemas/ServiceLevelTypes"
        delivery_profile_name:
          maxLength: 150
          minLength: 1
          type: string
          description: The user-friendly name associated with the delivery profile.
          example: Residential Evening Delivery
        delivery_state_type:
          $ref: "#/components/schemas/ShipmentStateTypes"
        delivery_method_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ShippingMethodTypes"
        delivery_priority_type:
          maxLength: 40
          minLength: 1
          type: string
          description: The operational priority associated with the delivery.
          example: EXPEDITED
        delivery_window:
          maxLength: 120
          minLength: 1
          type: string
          description: The preferred delivery window associated with the delivery
            profile.
          example: 8AM-12PM
        delivery_period:
          $ref: "#/components/schemas/EffectivePeriod"
        delivery_contact:
          $ref: "#/components/schemas/PartyReference"
        delivery_address:
          $ref: "#/components/schemas/AddressReference"
        delivery_instructions:
          maxLength: 4000
          minLength: 1
          type: string
          description: Special delivery instructions associated with the delivery
            profile.
          example: Leave package at rear loading dock.
        contactless_delivery_indicator:
          type: boolean
          description: Indicates whether contactless delivery is preferred or required.
          example: true
        signature_required_indicator:
          type: boolean
          description: Indicates whether signature confirmation is required for delivery.
          example: false
        appointment_required_indicator:
          type: boolean
          description: Indicates whether a delivery appointment is required.
          example: true
        residential_delivery_indicator:
          type: boolean
          description: Indicates whether the delivery destination is residential.
          example: true
        loading_dock_indicator:
          type: boolean
          description: Indicates whether a loading dock is available at the delivery
            location.
          example: false
        after_hours_delivery_indicator:
          type: boolean
          description: Indicates whether after-hours delivery is permitted.
          example: true
        delivery_source:
          maxLength: 120
          minLength: 1
          type: string
          description: "The source system, provider, dispatcher, dealer, OEM, or logistics\
            \ platform associated with the delivery profile."
          example: OEM_DELIVERY_PLATFORM
        delivery_codes:
          $ref: "#/components/schemas/Codes"
        comments:
          maxLength: 4000
          minLength: 1
          type: string
          description: Operational comments or notes associated with the delivery
            profile.
          example: Customer prefers weekend deliveries only.
      description: A single line item for a Parts Invoice.
    DepositTypes:
      type: string
      description: types of deposits.
      enum:
      - CUSTOMER_DEPOSIT
      - SECURITY_DEPOSIT
      - VEHICLE_HOLD_DEPOSIT
      - SPECIAL_ORDER_DEPOSIT
      - PARTS_DEPOSIT
      - SERVICE_DEPOSIT
      - DOWN_PAYMENT
      - REFUNDABLE_DEPOSIT
      - NON_REFUNDABLE_DEPOSIT
      - LEASE_SECURITY_DEPOSIT
      - DAMAGE_DEPOSIT
      - RESERVATION_DEPOSIT
      - ESCROW_DEPOSIT
      - GOOD_FAITH_DEPOSIT
      - TRADE_HOLD_DEPOSIT
      - FLEET_ORDER_DEPOSIT
      - WHOLESALE_DEPOSIT
      - OTHER
    DiscountMetricValue:
      type: object
      properties:
        discount_metric_value_key:
          type: string
          description: Unique identifier for the metric value.
          example: METRIC_KEY_ABC
        unit_of_measure_type:
          $ref: "#/components/schemas/UnitOfMeasureTypes"
        value:
          type: string
          description: The numeric value of the metric.
          example: "5551235545"
        locales:
          $ref: "#/components/schemas/Codes"
      description: value price with unit of measure
    DiscountMetricValues:
      type: array
      items:
        $ref: "#/components/schemas/DiscountMetricValue"
    DiscountReference:
      type: object
      properties:
        discount_reference_id:
          type: string
          description: Unique identifier value
        discount_reference_key:
          type: string
          description: Unique identifier value
        discount_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-09-02T13:44:03Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
        discount_plan_name:
          type: string
          description: The display name of the discount for search results.
          example: Loyalty Rebate
        discount_duration:
          $ref: "#/components/schemas/EffectivePeriod"
        discount_href:
          type: string
          description: Hyperlink to the full Discount entity for deep-linking.
          format: href
          example: /discounts/123
        discount_metric_values:
          $ref: "#/components/schemas/DiscountMetricValues"
        discount_price:
          $ref: "#/components/schemas/Price"
        capitalized_indicator:
          type: boolean
          description: Indicates if the discount is capitalized (crucial for Lease
            calculations).
          example: true
        purchase_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderCategoryTypes"
        product_state_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductStateTypes"
        location_codes:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    DiscountReferences:
      type: array
      items:
        $ref: "#/components/schemas/DiscountReference"
    DurationIntervalTypes:
      type: string
      description: types of duration intervals.
      enum:
      - ONE_TIME
      - RECUR
      - MINUTES
      - HOURLY
      - DAILY
      - WEEKLY
      - BI_WEEKLY
      - SEMI_MONTHLY
      - MONTHLY
      - QUARTERLY
      - SEMI_YEAR
      - YEARLY
      - MULTI_YEAR
      - LIFETIME
      - CUSTOM
      - OTHER
    DurationUomTypes:
      type: string
      description: types of duration uoms.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - DAY_OF_MONTH
      - WEEKS
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - CUSTOM
      - OCCURRENCE
      - UNLIMITED
      - NONE
      - OTHER
    EffectivePeriod:
      type: object
      properties:
        effective_period_key:
          type: string
          description: Unique natural business key identifying the effective period
            record.
          example: EP-2024-REG-001
        active_indicator:
          type: boolean
          description: Indicates if this period is currently considered valid and
            enforceable within the domain.
          example: true
        exclusive_indicator:
          type: boolean
          description: "If true, this period represents the only valid time window,\
            \ overriding overlapping periods."
          example: false
        start_date_time:
          type: string
          description: The inclusive start point of the period in ISO 8601 format.
          format: date-time
          example: 2026-09-02T13:44:03Z
        complete_date_time:
          type: string
          description: The exclusive end point of the period (completion) in ISO 8601
            format.
          format: date-time
          example: 2026-09-02T13:44:03Z
        duration_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        duration_value:
          pattern: ^P(?!$)((\d+Y)?(\d+M)?(\d+W)?(\d+D)?)(T(?=\d)(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          description: The length of the period expressed in ISO 8601 duration format.
          example: P1Y2M10D
        recur_uom_type:
          $ref: "#/components/schemas/DurationUomTypes"
        recur_count:
          type: string
          description: Number of times the period repeats. Use -1 for infinite.
          example: "12"
        recur_values:
          $ref: "#/components/schemas/Codes"
        recur_criteria:
          type: string
          description: Natural language or DSL expression of complex recurrence logic.
          example: Every last Friday of the month
        recur_indicator:
          type: boolean
          description: Flag indicating if this period repeats based on the defined
            criteria.
          example: true
      description: "Defines a temporal range and recurrence logic for business validity,\
        \ such as license expirations or service intervals."
    ExceptionSeverityTypes:
      type: string
      description: types of exception severitys.
      enum:
      - INFORMATIONAL
      - NOTICE
      - WARNING
      - MINOR
      - MODERATE
      - MAJOR
      - CRITICAL
      - BLOCKING
      - FAILED
      - LOST
      - DAMAGED
      - SECURITY
      - COMPLIANCE
      - EMERGENCY
      - UNKNOWN
      - OTHER
    FeeReference:
      type: object
      properties:
        fee_reference_id:
          type: string
          description: Unique identifier value
        fee_reference_key:
          type: string
          description: Unique identifier value
        fee_key:
          type: string
          description: Unique identifier value
        unit_count:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        fee:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-09-02T13:44:03Z
        sequence_id:
          type: string
          description: Unique Sequencing Order for this entity in a list
          example: ts_789012
        taxable_indicator:
          type: boolean
          description: Unique Sequencing Order for this entity in a list
          example: false
      description: External system identifier
    FeeReferences:
      type: array
      items:
        $ref: "#/components/schemas/FeeReference"
    FinancialAccountingTypes:
      type: string
      description: types of financial accountings.
      enum:
      - UNASSIGNED
      - CUSTOMER_PAY
      - WARRANTY_PENDING
      - GOODWILL_ALLOCATED
      - INTERNAL_EXPENSE
      - REVENUE_RECOGNIZED
      - OTHER
    FinancialCategoryReference:
      type: object
      properties:
        category_reference_id:
          type: string
          description: Unique identifier value for the financial category reference
            record.
        category_reference_key:
          type: string
          description: Unique key value for the financial category reference record.
        category_key:
          type: string
          description: The unique key identifying the referenced Financial Category
            aggregate.
        context:
          type: string
          description: "Context or domain of the financial category (e.g., 'INCOME',\
            \ 'BALANCE_SHEET')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financial category was assigned or referenced.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: "Reference to a Financial Category Aggregate Root (e.g., Revenue,\
        \ Expense, Asset)."
    FinancialCategoryReferences:
      type: array
      items:
        $ref: "#/components/schemas/FinancialCategoryReference"
    FinancialCategoryTypes:
      type: string
      description: types of financial categorys.
      enum:
      - CAPEX
      - OPEX
      - HARDWARE
      - SOFTWARE
      - MAINTENANCE
      - TRAVEL
      - TRAINING
      - UTILITIES
      - RENT
      - SALARY
      - REVENUE
      - TAX
      - OTHER
      - VEHICLE_INVOICE
      - PARTS_INVOICE
      - SERVICE_INVOICE
      - PAYMENT
      - DEPOSIT
      - REFUND
      - FEE
      - CREDIT
      - ADJUSTMENT
      - WRITE_OFF
      - CHARGEBACK
      - JOURNAL_ENTRY
      - FINANCE_CONTRACT
    FinancialEvent:
      type: object
      properties:
        financial_event_id:
          type: string
          description: System-generated ID for the financial event.
          example: FE-998877
        financial_event_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        confirmation_code:
          type: string
          description: Confirmation code for the financial transaction.
          example: CNF-987654
        forecast_indicator:
          type: boolean
          description: Confirmation code for the financial transaction.
          example: false
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        payment_method_key:
          type: string
          description: Unique key for the specific payment method used.
          example: pm_12345
        capability_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time when the financial event occurred.
          format: date-time
          example: 2026-09-02T13:44:03Z
        post_date:
          type: string
          description: The posting date of the financial transaction.
          format: date
        transaction_date:
          type: string
          description: The date the transaction was executed.
          format: date
        batch_number:
          type: string
          description: The batch number associated with this transaction.
          example: BATCH-2025-001
        previous_event_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PaymentTransactionStatusTypes"
        provider_transaction_id:
          type: string
          description: Unique transaction ID from the payment provider.
          example: txn_87654321
        event_description:
          type: string
          description: Detailed description of the financial event.
        reason_codes:
          $ref: "#/components/schemas/Codes"
        financial_event_type:
          $ref: "#/components/schemas/FinancialEventTypes"
        resource_type:
          $ref: "#/components/schemas/ResourceTypes"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        resource_keys:
          $ref: "#/components/schemas/Codes"
        correlation_id:
          type: string
          description: Correlation identifier used for distributed tracing.
        causation_id:
          type: string
          description: Correlation identifier used for distributed tracing.
        tracking_ref:
          type: string
          description: Tracking reference for the transaction.
          example: track_98765
        source_transaction_id:
          type: string
          description: Internal reference for the transaction.
          example: txn_ref_12345
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        deposit_type:
          $ref: "#/components/schemas/DepositTypes"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        actor:
          $ref: "#/components/schemas/ActorReference"
        financial_categories:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/FinancialCategoryTypes"
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        business_context:
          $ref: "#/components/schemas/BusinessContext"
        financial_event_snapshot:
          $ref: "#/components/schemas/FinancialEventSnapshot"
      description: Payment details for this product.
    FinancialEventSnapshot:
      type: object
      properties:
        financial_event_snapshot_key:
          type: string
          description: The unique ID for this generated snapshot instance.
        financial_category_type:
          $ref: "#/components/schemas/FinancialCategoryTypes"
        general_ledger_reference:
          $ref: "#/components/schemas/GeneralLedgerReference"
        resulting_balance:
          $ref: "#/components/schemas/GeneralAmount"
        previous_balance:
          $ref: "#/components/schemas/GeneralAmount"
        unit_cost:
          $ref: "#/components/schemas/GeneralAmount"
      description: "A real-time aggregated financial report (P&L, Balance Sheet, or\
        \ Trial Balance) generated as a view model for dashboards."
    FinancialEventTypes:
      type: string
      description: types of financial events.
      enum:
      - INVOICE_CREATED
      - INVOICE_ISSUED
      - INVOICE_POSTED
      - INVOICE_VOIDED
      - INVOICE_CANCELLED
      - PAYMENT_CREATED
      - PAYMENT_RECEIVED
      - PAYMENT_APPLIED
      - PAYMENT_FAILED
      - PAYMENT_REVERSED
      - PAYMENT_VOIDED
      - PAYMENT_UNAPPLIED
      - DEPOSIT_CREATED
      - DEPOSIT_RECEIVED
      - DEPOSIT_APPLIED
      - DEPOSIT_REFUNDED
      - DEPOSIT_FORFEITED
      - DEPOSIT_TRANSFERRED
      - DEPOSIT_VOIDED
      - REFUND_CREATED
      - REFUND_ISSUED
      - REFUND_COMPLETED
      - REFUND_REVERSED
      - REFUND_CANCELLED
      - FEE_ASSESSED
      - FEE_WAIVED
      - FEE_REVERSED
      - FEE_REFUNDED
      - TAX_ASSESSED
      - TAX_ADJUSTED
      - TAX_REFUNDED
      - CREDIT_ISSUED
      - CREDIT_APPLIED
      - CREDIT_REVERSED
      - CREDIT_EXPIRED
      - ADJUSTMENT_CREATED
      - ADJUSTMENT_APPLIED
      - ADJUSTMENT_REVERSED
      - WRITE_OFF_CREATED
      - CHARGEBACK_RECEIVED
      - CHARGEBACK_REVERSED
      - JOURNAL_ENTRY_CREATED
      - JOURNAL_ENTRY_POSTED
      - JOURNAL_ENTRY_REVERSED
      - FINANCE_CONTRACT_CREATED
      - FINANCE_CONTRACT_FUNDED
      - FINANCE_CONTRACT_CANCELLED
    FinancialEvents:
      type: array
      items:
        $ref: "#/components/schemas/FinancialEvent"
    FinancialSplit:
      type: object
      properties:
        financial_split_id:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        financial_split_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        source_item_key:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_name:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        price_description:
          type: string
          description: Unique key identifying this financial event.
          example: fe_123456
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        financial_categories:
          $ref: "#/components/schemas/FinancialCategoryReferences"
        ledger_action_type:
          $ref: "#/components/schemas/LedgerActionTypes"
        ledger_types:
          $ref: "#/components/schemas/FinancialTransactionTypes"
        price_type:
          $ref: "#/components/schemas/ProductPriceItemTypes"
        tax_splits:
          $ref: "#/components/schemas/TaxSplits"
        reward_references:
          $ref: "#/components/schemas/RewardReferences"
        credit_references:
          $ref: "#/components/schemas/CreditReferences"
        rebate_references:
          $ref: "#/components/schemas/RebateReferences"
        discount_references:
          $ref: "#/components/schemas/DiscountReferences"
        fee_references:
          $ref: "#/components/schemas/FeeReferences"
        parties:
          $ref: "#/components/schemas/PartyReferences"
        pay_type:
          $ref: "#/components/schemas/PayTypes"
      description: Payment details for this product.
    FinancialSplitReference:
      type: object
      properties:
        financial_split_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        financial_split_reference_key:
          type: string
          description: Unique key value for the reference record.
        financial_split_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced Payment FinancialSplit
            aggregate.
        context:
          type: string
          description: Context or domain of the payment financialSplit.
        geographic_boundary:
          $ref: "#/components/schemas/GeographicBoundaryReference"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        total:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the financialSplit was associated with the
            order.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: Reference to a Payment FinancialSplit Aggregate Root.
    FinancialSplits:
      type: array
      items:
        $ref: "#/components/schemas/FinancialSplit"
    FinancialTrack:
      type: object
      properties:
        financial_track_id:
          type: string
          description: Internal transaction reference for this tracking record.
          example: txn_ref_12345
        financial_track_key:
          type: string
          description: Internal transaction reference for this tracking record.
          example: txn_ref_12345
        reference_key:
          type: string
          description: Purchase order ID associated with this tracking record.
          example: PO-2025-10045
        financial_event_keys:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: Timestamp of the last update for this tracking record.
          format: date-time
          example: 2026-09-02T13:44:03Z
        actor_id:
          type: string
          description: Identifier of the actor who updated or is responsible for this
            tracking record.
          example: actor_123
        financial_splits:
          $ref: "#/components/schemas/FinancialSplits"
      description: Financial tracking details for a line item or purchase order.
    FinancialTracks:
      type: array
      items:
        $ref: "#/components/schemas/FinancialTrack"
    FinancialTransactionTypes:
      type: string
      description: types of financial transactions.
      enum:
      - ASSETS
      - CONTRA_ASSET
      - LIABILITY
      - EQUITY
      - INVENTORY
      - INTANGIBLE_ASSET
      - PREPAID_EXPENSE
      - INCOME
      - COGS
      - EXPENSE
      - DEPRECIATION
      - SALES_DISCOUNT
      - RETURNS
      - CASH_INFLOW
      - CASH_OUTFLOW
      - BANK_CHARGE
      - LOAN_RECEIVABLE
      - LOAN_PAYABLE
      - INVESTMENT
      - DIVIDEND
      - INTEREST_INCOME
      - INTEREST_EXPENSE
      - OBLIGATION_NOTE
      - OBLIGATION_CREDIT
      - OBLIGATION_TAX
      - OBLIGATION_OTHER
      - TAX_PAYABLE
      - DEFERRED_REVENUE
      - ACCRUED_EXPENSE
      - PROVISION
      - DEBIT
      - CREDIT
      - CAPITALIZATION
      - AMORTIZATION
      - VARIANCE
      - INVOICE
      - RECEIPT
      - RECEIVABLE_RECEIPT
      - DISBURSEMENT
      - TRANSFER
      - SERVICE
      - FEE
      - REBATE
      - OTHER
      - CUSTOM
    FleetReference:
      type: object
      properties:
        fleet_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The unique lightweight reference key representing the fleet
            projection.
          example: FREF-882211
        fleet_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The canonical fleet aggregate key associated with this reference.
          example: FLEET-1001
        fleet_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The external or enterprise fleet identifier associated with
            this reference.
          example: FLT-9921
        fleet_number:
          maxLength: 60
          minLength: 1
          type: string
          description: The fleet number or serial number used for operational lookup.
          example: SE-FLEET-001
        fleet_name:
          maxLength: 150
          minLength: 1
          type: string
          description: "The human-readable fleet name used for search, display, and\
            \ assignment context."
          example: Southeast Utility Service Fleet
        parent_fleet_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The parent fleet key used to preserve lightweight hierarchy
            context.
          example: FLEET-PARENT-001
        parent_fleet_name:
          maxLength: 150
          minLength: 1
          type: string
          description: "The parent fleet name used for breadcrumb, reporting, and\
            \ display context."
          example: Corporate Service Fleet
        fleet_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyTypes"
        display_name:
          maxLength: 200
          minLength: 1
          type: string
          description: The formatted display name for the fleet reference.
          example: SE-FLEET-001 - Southeast Utility Service Fleet
        fleet_codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a fleet or inventory of vehicles, including ownership,\
        \ organizational structure, and associated data."
    FulfillmentMethodTypes:
      type: string
      description: types of fulfillment methods.
      enum:
      - PICKUP
      - DELIVERY
      - TRANSFER
      - DROP_SHIP
    FulfillmentProfile:
      type: object
      properties:
        fulfillment_profile_id:
          type: string
          description: Unique identifier for this fulfillment profile.
        fulfillment_profile_key:
          type: string
          description: Stable business key used to correlate this fulfillment profile
            across systems.
        fulfillment_method_type:
          $ref: "#/components/schemas/FulfillmentMethodTypes"
        order_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/OrderTypes"
        fulfillment_status_type:
          $ref: "#/components/schemas/FulfillmentStatusTypes"
        service_level_type:
          $ref: "#/components/schemas/ServiceLevelTypes"
        delivery_destination_type:
          $ref: "#/components/schemas/DeliveryDestinationTypes"
        destination_party_reference:
          $ref: "#/components/schemas/PartyReference"
        destination_address_reference:
          $ref: "#/components/schemas/AddressReference"
        pickup_party_reference:
          $ref: "#/components/schemas/PartyReference"
        pickup_address_reference:
          $ref: "#/components/schemas/AddressReference"
        fulfillment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        shipment_profiles:
          $ref: "#/components/schemas/ShipmentProfiles"
        comments:
          type: string
          description: "Comments, instructions, or notes associated with this fulfillment\
            \ profile."
      description: Address represents a physical or mailing location associated with
        a party or warehouse.
    FulfillmentStatusTypes:
      type: string
      description: types of fulfillment status.
      enum:
      - NOT_REQUIRED
      - PENDING
      - ON_HOLD
      - WAITING_FOR_INVENTORY
      - BACKORDERED
      - SPECIAL_ORDERED
      - RESERVED
      - ALLOCATED
      - PICKING
      - PICKED
      - PACKING
      - PACKED
      - READY_FOR_PICKUP
      - PICKED_UP
      - READY_FOR_SHIPMENT
      - SHIPPED
      - IN_TRANSIT
      - DELIVERED
      - TRANSFER_IN_PROGRESS
      - DROP_SHIP_IN_PROGRESS
      - RETURN_REQUESTED
      - RETURN_IN_PROGRESS
      - RETURNED
      - CANCELLED
      - FAILED
      - COMPLETED
      - CLOSED
      - EXCEPTION
      - OTHER
    GeneralAmount:
      type: object
      properties:
        general_amount_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        amount:
          type: string
          description: The raw decimal monetary amount stored as a string to prevent
            floating-point errors.
          example: "1234.56"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    GeneralLedgerReference:
      type: object
      properties:
        general_ledger_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        general_ledger_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique reference value
        context:
          type: string
          description: Context or domain of the reference
        system_codes:
          $ref: "#/components/schemas/Codes"
        general_ledger_identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: External system reference
    GeographicBoundaryReference:
      type: object
      properties:
        geographic_boundary_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        geographic_boundary_reference_key:
          type: string
          description: Unique key value for the reference record.
        geographic_boundary_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        context:
          type: string
          description: Context or domain of the payment schedule.
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: Reference to a Payment Schedule Aggregate Root.
    GeographicBoundaryReferences:
      type: array
      items:
        $ref: "#/components/schemas/GeographicBoundaryReference"
    Identifier:
      type: object
      properties:
        identifier_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value
        identifier_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Business key for the identifier
        context:
          type: string
          description: Context or domain of the identifier
        value:
          type: string
          description: The monetary or hours-based value of the event.
        detail:
          type: string
          description: The monetary or hours-based value of the event.
        identifier_type:
          type: string
          description: The monetary or hours-based value of the event.
        system_codes:
          $ref: "#/components/schemas/Codes"
        issuing_authority:
          $ref: "#/components/schemas/Codes"
      description: External system identifier
    Identifiers:
      type: array
      items:
        $ref: "#/components/schemas/Identifier"
    IncentiveTypes:
      type: string
      description: types of incentives.
      enum:
      - DEALER
      - OEM
      - VENDOR
      - SUPPLIER
      - OTHER
    InvoiceItemStatusTypes:
      type: string
      description: types of invoice item status.
      enum:
      - DRAFT
      - ISSUED
      - PENDING_APPROVAL
      - PROCESSING_FULFILLMENT
      - BACKORDERED
      - PARTIALLY_SHIPPED
      - SHIPPED
      - DELIVERED
      - OPEN
      - PARTIALLY_PAID
      - OVERDUE
      - PAID
      - REFUNDED
      - ADJUSTED
      - APPROVED
      - DECLINED
      - DISPUTED
      - RETURNED
      - VOIDED
      - CANCELLED
      - CLOSED
      - SALES_HOLD
      - PAYMENT_HOLD
      - FINANCE_HOLD
      - CUSTOMER_HOLD
      - INTERNAL_HOLD
    InvoiceReference:
      type: object
      properties:
        invoice_reference_id:
          type: string
          description: Unique identifier value for the invoice reference record.
        invoice_reference_key:
          type: string
          description: Unique key value for the invoice reference record.
        invoice_key:
          type: string
          description: The unique key identifying the referenced Invoice aggregate.
        context:
          type: string
          description: "Context or domain of the invoice (e.g., 'ACCOUNTS_PAYABLE',\
            \ 'SALES_INVOICE')."
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the invoice was created or linked to this
            record.
          format: date-time
          example: 2026-09-02T13:44:03Z
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
      description: "Reference to an Invoice Aggregate Root, representing a financial\
        \ obligation."
    InvoiceReferences:
      type: array
      items:
        $ref: "#/components/schemas/InvoiceReference"
    InvoiceStatusTypes:
      type: string
      description: types of invoice status.
      enum:
      - DRAFT
      - PENDING_APPROVAL
      - ISSUED
      - ACKNOWLEDGED
      - ADJUSTED
      - VOIDED
      - CANCELLED
      - DISPUTED
      - CLOSED
      - DECLINED
      - OTHER
    InvoiceTypes:
      type: string
      description: types of invoices.
      enum:
      - INVOICE
      - SERVICE_INVOICE
      - PART_INVOICE
      - LOAN
      - STANDARD
      - ORIGINAL
      - ADJUSTED
      - CREDIT_MEMO
      - DEBIT_MEMO
      - PRO_FORMA
      - COMMERCIAL
      - VEHICLE_SALE
      - VEHICLE_INVOICE
      - SERVICE
      - PARTS
      - LEASE
      - FINANCE_CHARGE
      - WARRANTY_CLAIM
      - INSURANCE_CLAIM
      - STATEMENT
      - ADVANCE
      - FINAL
      - REPAIR
      - FUEL
      - RENTAL
      - SUBSCRIPTION
    JurisdictionProfile:
      type: object
      properties:
        jurisdiction_profile_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key representing the jurisdiction profile.
          example: JURIS-PROF-US-GA-001
        jurisdiction_profile_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The externally visible identifier representing the jurisdiction
            profile.
          example: JURIS-PROF-ID-US-GA
        jurisdiction_profile_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The human-readable name of the jurisdiction profile.
          example: United States - Georgia
        description:
          maxLength: 2000
          minLength: 1
          type: string
          description: The description of the jurisdiction profile and the regulatory
            context it represents.
          example: "Jurisdiction profile for United States federal and Georgia state\
            \ legal, privacy, tax, AI, and compliance constraints."
        jurisdiction_identifiers:
          $ref: "#/components/schemas/Identifiers"
        policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        privacy_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        ai_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        consumer_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        tax_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        retention_policy_identifiers:
          $ref: "#/components/schemas/Identifiers"
        data_residency_identifiers:
          $ref: "#/components/schemas/Identifiers"
        effective_period:
          $ref: "#/components/schemas/EffectivePeriod"
        source_system_code:
          maxLength: 60
          minLength: 1
          type: string
          description: "The source system code identifying the system of record, governance\
            \ catalog, legal registry, policy registry, or integration source for\
            \ this jurisdiction profile."
          example: GOVERNANCE_CATALOG
        source_authority_indicator:
          type: boolean
          description: Indicates whether the source system is considered authoritative
            for this jurisdiction profile.
          example: true
        source_version:
          maxLength: 60
          minLength: 1
          type: string
          description: "The version of the jurisdiction profile as provided by the\
            \ source governance, legal, policy, or compliance system."
          example: "2026.06"
        source_last_synced_date_time:
          type: string
          description: "The date and time when this jurisdiction profile was last\
            \ synchronized from the source governance, legal, policy, or compliance\
            \ system."
          format: date-time
          example: 2026-09-02T13:44:03Z
        occurrence_date_time:
          type: string
          description: "The date and time when the jurisdiction profile was observed,\
            \ created, received, updated, or became effective."
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: nullable
    LedgerActionTypes:
      type: string
      description: types of ledger actions.
      enum:
      - DEBIT
      - CREDIT
      - TRANSFER
      - MEMO
      - REVERSAL
      - NONE
      - CUSTOM
      - OTHER
    List:
      type: array
      items:
        $ref: "#/components/schemas/PaymentTransactionStatusTypes"
    Locale:
      type: object
      properties:
        locale_key:
          type: string
          description: "A unique, human-readable string key used for configuration\
            \ lookups and mapping."
        locale_name:
          type: string
          description: The full IETF BCP 47 language tag or Java-style locale string
            used for regional formatting.
        description:
          type: string
          description: A detailed description of the alert message.
        language_code:
          type: string
          description: ISO 639-1 two-letter language code.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        currency_code:
          $ref: "#/components/schemas/CurrencyCode"
        currency_symbol:
          type: string
          description: The graphical symbol used for the currency.
        timezone:
          type: string
          description: The IANA Time Zone database ID for regional time calculations.
        number_format:
          type: string
          description: Regional pattern for decimal and thousands separators.
        location_code:
          type: string
          description: The code of the inventory location or branch from which this
            part is sourced.
          example: WH001
        jurisdiction_profile:
          $ref: "#/components/schemas/JurisdictionProfile"
      description: not nullable
    MaskingStrategyTypes:
      type: string
      description: types of masking strategys.
      enum:
      - REDACT
      - TOKENIZE
      - HASH
      - PSEUDONYMIZE
      - PARTIAL_MASK
      - BLOCK
      - GENERALIZE
      - PERTURB
      - TRUNCATE
      - NULLIFY
      - GENERAL_ANONYMIZE
      - NONE
    Memo:
      type: array
      items:
        type: string
    MetricValue:
      type: object
      properties:
        metric_value_id:
          type: string
          description: The internal unique identifier for this metric record.
          example: 8892-abc-123-metric
        metric_value_key:
          type: string
          description: The natural business key for the metric value.
          example: EXPIRATION_MILEAGE
        value:
          type: string
          description: "The actual value of the metric (e.g., the amount or count)."
          example: "100000"
        uom:
          $ref: "#/components/schemas/NarrativeUomTypes"
        codes:
          $ref: "#/components/schemas/Codes"
      description: "Represents a quantitative measurement including its unit, value,\
        \ and classification codes."
    Money:
      type: object
      properties:
        money_key:
          type: string
          description: "Unique business key for the monetary entry, used for deterministic\
            \ lookups."
          example: MON-2026-EXP-001
        money_id:
          type: string
          description: System-generated unique identifier for the money record.
          example: mny-5521-z99
        currency_code:
          type: string
          description: Three-letter ISO-4217 currency code.
          example: USD
        display_value:
          type: string
          description: Formatted monetary string including symbol and separators based
            on locale.
          example: "$1,234.56"
        amount:
          $ref: "#/components/schemas/GeneralAmount"
        currency_exchange:
          $ref: "#/components/schemas/CurrencyExchange"
      description: "Represents a monetary value, including its currency, locale, and\
        \ display format."
    NarrativeUomTypes:
      type: string
      description: types of narrative uoms.
      enum:
      - BAR
      - KPA
      - PSI
      - OZ
      - LB
      - KG
      - GRAMS
      - TONS
      - LITER
      - GALLON
      - FLUID_OUNCE
      - CUBIC_METER
      - KM
      - MILES
      - MI
      - INCH
      - FEET
      - YARD
      - FATHOM
      - NAUTICAL
      - METER
      - CENTIMETER
      - MILLIMETER
      - DURATION
      - SECONDS
      - MINUTES
      - HOURS
      - DAYS
      - WEEKS
      - DAY_OF_MONTH
      - BI_WEEKS
      - SEMI_MONTHS
      - MONTHS
      - QUARTERS
      - SEMI_YEARS
      - YEARS
      - MULTI_YEARS
      - DATE_TIME
      - DATE
      - TIME
      - CELSIUS
      - FAHRENHEIT
      - KELVIN
      - RANKINE
      - VOLT
      - AMPERE
      - OHM
      - WATT
      - KILOWATT_HOUR
      - HP
      - RPM
      - G_FORCE
      - DEGREES
      - OCCURRENCE
      - GROUP
      - CODE
      - CURRENCY
      - POINTS
      - CUSTOM
      - UNLIMITED
      - NONE
      - LABEL
      - PERCENT
      - DESC
      - TEXT
      - KEY
      - PROTECTED_TEXT
      - BINARY
      - STRING
      - NUMBER
      - INTEGER
      - BOOLEAN
      - ARRAY
      - OBJECT
      - FLOAT
      - DOUBLE
      - INT32
      - INT64
      - COUNT
      - RATIO
      - SCORE
      - OTHER
    OrderCategoryTypes:
      type: string
      description: types of order categorys.
      enum:
      - RETAIL
      - WHOLESALE
      - E_COMMERCE
      - COMMERCIAL
      - GOVERNMENT
      - EDUCATIONAL
      - CONTRACT
      - SUBSCRIPTION
      - DIRECT
      - FLEET
      - TRADE_IN
      - LEASE
      - CUSTOM_ORDER
      - STANDARD
      - SPECIAL
      - OTHER
    OrderTypes:
      type: string
      description: types of orders.
      enum:
      - STANDARD
      - SALES
      - PURCHASE
      - RUSH
      - BACK_ORDER
      - SPECIAL
      - SUBSCRIPTION
      - SERVICE
      - MAINTENANCE
      - WARRANTY
      - SAMPLE
      - INTERNAL_TRANSFER
      - CONSIGNMENT
      - TRIAL
      - RENTAL
      - REPAIR
      - JOB
      - RETURN
      - CUSTOM_ORDER
    PartIdentifier:
      type: object
      properties:
        part_identifier_key:
          type: string
          description: Unique key identifying the part identifier
        part_identifier_id:
          type: string
          description: Unique identifier ID for the part identifier
        part_source:
          type: string
          description: Unique identifier ID for the source of the part
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        part_identifier_value:
          type: string
          description: Value of the part identifier
        description:
          type: string
          description: Optional description for the part identifier
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_names:
          $ref: "#/components/schemas/PartNames"
        part_status_type:
          $ref: "#/components/schemas/PartStatusTypes"
      description: nullable
    PartIdentifierReference:
      type: object
      properties:
        part_identifier_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The immutable enterprise technical ledger surrogate key for
            this snapshot instance.
          example: PIRK-77119933
        part_identifier_reference_id:
          maxLength: 80
          minLength: 1
          type: string
          description: The business or event payload instance identifier for this
            reference metadata mapping.
          example: PART-REF-01
        part_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The raw catalog part number text explicitly captured during
            the fulfillment or scan transaction.
          example: 68218055AB
        manufacturer_brand_code:
          maxLength: 40
          minLength: 1
          type: string
          description: "The originating OEM, supplier, or aftermarket manufacturer\
            \ brand shorthand code to ensure isolation."
          example: MOPAR
        description_snapshot:
          maxLength: 255
          minLength: 1
          type: string
          description: The point-in-time descriptive text captured from the master
            part catalog for local physical document output mapping.
          example: FENDER-FRONT RIGHT
        item_classification_type:
          $ref: "#/components/schemas/PartInvoiceItemTypes"
        part_master_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The target persistent master catalog surrogate key pointing
            to the full Part aggregate root.
          example: PART-KEY-992211A
        part_identifier_type:
          $ref: "#/components/schemas/PartIdentifierTypes"
        unit_of_measure_code:
          maxLength: 10
          minLength: 1
          type: string
          description: "The standard unit of measure representation (e.g., EA, QT,\
            \ GL) of the referenced catalog item."
          example: EA
        superseded_by_part_number:
          maxLength: 40
          minLength: 1
          type: string
          description: The replacement part number if the current reference part has
            been superseded by a newer engineering revision.
          example: 68218055AC
        core_charge_indicator:
          type: boolean
          description: "Denotes if this part reference implies a physical core return\
            \ obligation (e.g., batteries, engines, alternators)."
          example: false
      description: "An immutable, point-in-time reference snapshot of a physical part's\
        \ identity captured during a fulfillment lifecycle phase."
    PartIdentifierTypes:
      type: string
      description: types of part identifiers.
      enum:
      - VIN
      - SKU
      - UPCA
      - UPCE
      - ISBN
      - MPN
      - CONFIG_CODE
      - MFR_CODE
      - ALT_CODE
      - STOCK_NBR
      - UNIV_CODE
      - PRODUCT_CODE
      - CATALOG_CODE
      - NAME
      - NUMBER
      - PREFIX
      - COUNTRY_OF_ORIGIN_CODE
      - MODEL_CODE
      - MAKE_CODE
      - YEAR_CODE
      - MARKET_DIVISION_CODE
      - TRIM_CODE
      - STYLE_CODE
      - SUB_MODEL_CODE
      - ENGINE_CODE
      - TRANSMISSION_CODE
      - DRAWING_NUMBER
      - CAD_NUMBER
      - OTHER
    PartIdentifiers:
      type: array
      items:
        $ref: "#/components/schemas/PartIdentifier"
    PartInventoryReference:
      type: object
      properties:
        part_inventory_reference_id:
          type: string
          description: Unique identifier value
        part_inventory_reference_key:
          type: string
          description: Unique identifier value
        part_inventory_key:
          type: string
          description: Unique identifier value
        context:
          type: string
          description: Context or domain of the identifier
        system_codes:
          $ref: "#/components/schemas/Codes"
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-09-02T13:44:03Z
        part_locations:
          $ref: "#/components/schemas/PartLocations"
      description: External system identifier
    PartInventoryReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartInventoryReference"
    PartInvoice:
      type: object
      properties:
        part_invoice_id:
          maxLength: 100
          minLength: 1
          type: string
          description: Unique identifier for the invoice header.
          example: INV-2025-00001
        part_invoice_key:
          maxLength: 100
          minLength: 1
          type: string
          description: Unique identifier for the invoice header.
          example: INV-2025-00001
        invoice_number:
          maxLength: 100
          type: string
          description: Human-readable invoice number shown on invoice documents and
            statements.
          example: INV-2025-00001
        invoice_type:
          $ref: "#/components/schemas/InvoiceTypes"
        order_ref_id:
          maxLength: 100
          type: string
          description: "Identifier of the associated order, purchase order, repair\
            \ order, sales order, vehicle order, or other source transaction."
          example: PO-2025-00001
        source_transactions:
          $ref: "#/components/schemas/Identifiers"
        subject:
          maxLength: 250
          type: string
          description: Short title or subject for the invoice.
          example: Parts counter sale invoice
        description:
          type: string
          description: Invoice-level description or business context.
          example: Invoice for parts sold to customer.
        vat_number:
          maxLength: 100
          type: string
          description: "VAT, GST, or tax registration number associated with the invoice,\
            \ where applicable."
          example: GB123456789
        invoice_date_time:
          type: string
          description: Date and time the invoice was issued.
          format: date-time
          example: 2026-09-02T13:44:03Z
        due_date_time:
          type: string
          description: Date and time payment is due.
          format: date-time
          example: 2026-09-02T13:44:03Z
        post_date_time:
          type: string
          description: Date and time the invoice was posted to accounting or ledger
            systems.
          format: date-time
          example: 2026-09-02T13:44:03Z
        create_date_time:
          type: string
          description: Date and time the invoice record was created.
          format: date-time
          example: 2026-09-02T13:44:03Z
        invoice_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InvoiceStatusTypes"
        payment_status_type:
          $ref: "#/components/schemas/PaymentStatusTypes"
        payment_authorizations:
          $ref: "#/components/schemas/PaymentAuthorizations"
        payment_term_references:
          $ref: "#/components/schemas/PaymentTermReferences"
        payment_schedules:
          $ref: "#/components/schemas/PaymentScheduleReferences"
        payment_method_references:
          $ref: "#/components/schemas/PaymentMethodReferences"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        control_account_reference:
          $ref: "#/components/schemas/ControlAccountReference"
        financial_events:
          $ref: "#/components/schemas/FinancialEvents"
        financial_tracks:
          $ref: "#/components/schemas/FinancialTracks"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        total_quantity:
          type: string
          description: "Total quantity across all invoice line items, if applicable."
          example: "5"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        locale:
          $ref: "#/components/schemas/Locale"
        priority:
          maxLength: 50
          type: string
          description: "Invoice-level priority for processing, fulfillment, collection,\
            \ or exception handling."
          example: HIGH
        legal_terms:
          type: string
          description: "Legal terms, disclaimers, or contractual language associated\
            \ with the invoice."
        version:
          maxLength: 50
          type: string
          description: Version of the invoice contract or source representation.
          example: 1.0.0
        actor_id:
          maxLength: 100
          type: string
          description: "Identifier of the actor, user, system, or agent that created\
            \ or last changed the invoice."
          example: actor_123
        status_transition_events:
          $ref: "#/components/schemas/StatusTransitionEvents"
        part_invoice_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartInvoiceTypes"
        part_invoice_items:
          $ref: "#/components/schemas/PartInvoiceItems"
        inventory_references:
          $ref: "#/components/schemas/PartInventoryReferences"
        shipment_references:
          $ref: "#/components/schemas/PartShipmentReferences"
        fulfillment_status_type:
          $ref: "#/components/schemas/FulfillmentStatusTypes"
        shipment_state_type:
          $ref: "#/components/schemas/ShipmentStateTypes"
        shipped_quantity:
          maxLength: 40
          minLength: 1
          type: string
          description: The derived quantity shipped against the part invoice across
            related PartShipment records.
          example: "10"
        backordered_quantity:
          maxLength: 40
          minLength: 1
          type: string
          description: The derived quantity backordered against the part invoice.
          example: "2"
        delivered_quantity:
          maxLength: 40
          minLength: 1
          type: string
          description: The derived quantity delivered against the part invoice across
            related PartShipment records.
          example: "8"
      description: nullable
    PartInvoiceItem:
      type: object
      properties:
        part_invoice_item_id:
          type: string
          description: Unique identifier for this specific parts invoice line item.
          example: pii_abc123xyz
        part_invoice_item_key:
          type: string
          description: Unique identifier for this specific parts invoice line item.
          example: pii_abc123xyz
        invoice_id:
          maxLength: 100
          minLength: 1
          type: string
          description: Unique identifier of the parent invoice to which this line
            item belongs.
          example: INV-2025-00001
        line_number:
          maxLength: 50
          type: string
          description: Sequential identifier used to order and reference this line
            within the invoice.
          example: "1"
        item_type:
          $ref: "#/components/schemas/ResourceTypes"
        locale:
          $ref: "#/components/schemas/Locale"
        part_references:
          $ref: "#/components/schemas/PartReferences"
        description:
          type: string
          description: "Textual descriptions for this line item, such as display description,\
            \ internal note, customer-facing note, or legal text."
        total_quantity:
          type: string
          description: Quantity billed for this line item.
          example: "5"
        unit_of_measure:
          $ref: "#/components/schemas/UnitOfMeasure"
        credit_amount:
          $ref: "#/components/schemas/Money"
        base_amount:
          $ref: "#/components/schemas/Money"
        discount_amount:
          $ref: "#/components/schemas/Money"
        tax_amount:
          $ref: "#/components/schemas/Money"
        total_amount:
          $ref: "#/components/schemas/Money"
        balance_amount:
          $ref: "#/components/schemas/Money"
        part_invoice_item_type:
          $ref: "#/components/schemas/PartInvoiceItemTypes"
        totals:
          $ref: "#/components/schemas/FinancialSplits"
        priority:
          maxLength: 50
          type: string
          description: "Line-level priority for processing, fulfillment, shipping,\
            \ exception handling, or collection."
          example: HIGH
        part_condition_grade_type:
          $ref: "#/components/schemas/ConditionGradeTypes"
        part_inventory_references:
          $ref: "#/components/schemas/PartInventoryReferences"
        invoice_item_status_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/InvoiceItemStatusTypes"
        financial_tracks:
          $ref: "#/components/schemas/FinancialTracks"
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        price_plan_references:
          $ref: "#/components/schemas/PricePlanReferences"
        location_references:
          $ref: "#/components/schemas/WarehouseReferences"
        part_locations:
          $ref: "#/components/schemas/PartLocations"
        part_identifiers:
          $ref: "#/components/schemas/PartIdentifiers"
        discount_references:
          $ref: "#/components/schemas/DiscountReferences"
        sourcing_strategy_type:
          $ref: "#/components/schemas/SourcingStrategyTypes"
        financial_accounting_type:
          $ref: "#/components/schemas/FinancialAccountingTypes"
        fulfillment_profile:
          $ref: "#/components/schemas/FulfillmentProfile"
        party_references:
          $ref: "#/components/schemas/PartyReferences"
        part_condition_type:
          $ref: "#/components/schemas/ConditionTypes"
        part_identifier_reference:
          $ref: "#/components/schemas/PartIdentifierReference"
      description: nullable
    PartInvoiceItemTypes:
      type: string
      description: types of part invoice items.
      enum:
      - STANDARD_CATALOG_PART
      - KIT
      - ASSEMBLY
      - COMPONENT
      - EXCHANGE_LINE
      - RETURN_LINE
      - OTHER
    PartInvoiceItems:
      type: array
      items:
        $ref: "#/components/schemas/PartInvoiceItem"
    PartInvoiceTypes:
      type: string
      description: types of part invoices.
      enum:
      - RETAIL_SALE
      - WHOLESALE
      - ECOMMERCE
      - COUNTER_SALE
      - REPAIR_ORDER_PARTS
      - WARRANTY_PARTS
      - GOODWILL_PARTS
      - INTERNAL_SERVICE
      - SPECIAL_ORDER
      - BACKORDER_FULFILLMENT
      - STOCK_REPLENISHMENT
      - DEALER_TRANSFER
      - WAREHOUSE_TRANSFER
      - RETURN
      - EXCHANGE
      - CORE_RETURN
      - CORE_CHARGE
      - CREDIT_MEMO
      - DEBIT_MEMO
      - ADJUSTMENT
      - OTHER
    PartLocation:
      type: object
      properties:
        part_location_id:
          type: string
          description: The warehouse where the part is located.
          example: "{\"warehouseId\":\"WH-A\",\"name\":\"Main Distribution Center\"\
            }"
        part_location_key:
          type: string
          description: The warehouse where the part is located.
          example: "{\"warehouseId\":\"WH-A\",\"name\":\"Main Distribution Center\"\
            }"
        part_storage_types:
          $ref: "#/components/schemas/PartStorageTypes"
        aisle:
          type: string
          description: The aisle number or code within the warehouse.
          example: A-05
        rack:
          type: string
          description: The rack number or identifier within the aisle.
          example: R-12
        shelf:
          type: string
          description: The shelf number or identifier on the rack.
          example: S-03
        bin:
          type: string
          description: The bin number or identifier on the shelf.
          example: BIN-01
        quantity:
          type: integer
          description: "The quantity of parts at this specific location. Optional,\
            \ primarily for non-serialized/lot-controlled parts sharing a location."
          format: int32
          example: 5
        warehouse_key:
          type: string
          description: The warehouse location currently storing the part.
          example: "{\"locationCode\":\"WH-02-BIN-A1\"}"
        description:
          type: string
          description: 'description '
      description: not nullable
    PartLocations:
      type: array
      items:
        $ref: "#/components/schemas/PartLocation"
    PartName:
      type: object
      properties:
        part_name_id:
          type: string
          description: Unique identifier for the part name
        part_name_key:
          type: string
          description: Business key for the part name
        part_prefix:
          $ref: "#/components/schemas/Codes"
        part_suffix:
          $ref: "#/components/schemas/Codes"
        part_base:
          $ref: "#/components/schemas/Codes"
        description:
          type: string
          description: "the Human Friendly name (e.g., Radiator Support Bolt)"
        language:
          $ref: "#/components/schemas/Codes"
        locale:
          $ref: "#/components/schemas/Codes"
        alias:
          $ref: "#/components/schemas/Codes"
        long_name:
          $ref: "#/components/schemas/Codes"
        marketing_name:
          $ref: "#/components/schemas/Codes"
        part_name_type:
          $ref: "#/components/schemas/PartNameTypes"
        part_numbers:
          $ref: "#/components/schemas/Codes"
      description: nullable
    PartNameTypes:
      type: string
      description: types of part names.
      enum:
      - GENERIC
      - MANUFACTURING
      - MARKETING
      - CORE
      - REMANUFACTURING
      - OEM
      - AFTERMARKET
      - SUPERSEDING
      - SUPERSEDED
    PartNames:
      type: array
      items:
        $ref: "#/components/schemas/PartName"
    PartReference:
      type: object
      properties:
        part_reference_id:
          type: string
          description: Unique identifier value
        part_reference_key:
          type: string
          description: Unique identifier value
        name:
          type: string
          description: Product Name.
        identifiers:
          $ref: "#/components/schemas/Identifiers"
        part_key:
          type: string
          description: Unique identifier value
        part_master_key:
          type: string
          description: Unique identifier value
        manufacturer:
          type: string
          description: Context or domain of the identifier
        context:
          type: string
          description: Context or domain of the identifier
        product_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ProductTypes"
        system_codes:
          $ref: "#/components/schemas/Codes"
        occurrence_date_time:
          type: string
          description: The date and time the event occurred.
          format: date-time
          example: 2026-09-02T13:44:03Z
        unit_of_measure:
          $ref: "#/components/schemas/UnitOfMeasure"
      description: External system identifier
    PartReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartReference"
    PartShipmentReference:
      type: object
      properties:
        part_shipment_reference_id:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent identifier representing the part shipment reference.
          example: PSR-993211
        part_shipment_reference_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The business key representing the part shipment reference.
          example: PART-SHIPMENT-REF-001
        part_shipment_key:
          maxLength: 60
          minLength: 1
          type: string
          description: The persistent key of the PartShipment aggregate.
          example: PART-SHIPMENT-77821
        shipment_number:
          maxLength: 80
          minLength: 1
          type: string
          description: The shipment number assigned to the part shipment.
          example: SHIP-2026-000145
        tracking_number:
          maxLength: 100
          minLength: 1
          type: string
          description: The carrier tracking number associated with the shipment.
          example: 1Z999AA10123456784
        shipment_state_type:
          $ref: "#/components/schemas/ShipmentStateTypes"
        shipment_priority_type:
          $ref: "#/components/schemas/PriorityTypes"
        service_level_type:
          $ref: "#/components/schemas/ServiceLevelTypes"
        shipping_method_type:
          $ref: "#/components/schemas/ShippingMethodTypes"
        transport_method_type:
          $ref: "#/components/schemas/TransportMethodTypes"
        carrier_party:
          $ref: "#/components/schemas/PartyReference"
        carrier_name:
          maxLength: 120
          minLength: 1
          type: string
          description: The display name of the carrier associated with the part shipment.
          example: UPS
        estimated_delivery_period:
          $ref: "#/components/schemas/EffectivePeriod"
        estimated_arrival_date_time:
          type: string
          description: The estimated arrival date and time for the part shipment.
          format: date-time
          example: 2026-09-02T13:44:03Z
        actual_delivery_date_time:
          type: string
          description: The actual delivery date and time for the part shipment.
          format: date-time
          example: 2026-09-02T13:44:03Z
        delivered_indicator:
          type: boolean
          description: Indicates whether the part shipment has been delivered.
          example: true
        occurrence_date_time:
          type: string
          description: The date and time when the part shipment reference was created
            or became effective.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: Reference details for the logistics and shipment of a vehicle during
        the RDR process.
    PartShipmentReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartShipmentReference"
    PartStatusTypes:
      type: string
      description: types of part status.
      enum:
      - RECEIVE
      - INSPECT_INBOUND
      - DOCUMENT_RECEIPT
      - PUTAWAY
      - QUARANTINE_INBOUND
      - PICK
      - PACK
      - STAGE_SHIPMENT
      - LOAD_SHIPMENT
      - SHIP
      - DOCUMENT_SHIPMENT
      - SCRAP_DISPOSE
      - DISASSEMBLE
      - RETURN_RECEIVE
      - RETURN_INSPECT
      - RETURN_PUTAWAY
      - REFURBISH_REPAIR
      - RETURN_TO_BIN
      - DEFECTIVE_REMOVAL
      - ALLOCATE_TO_JOB
      - PICK_FOR_LABOR
      - STAGE_FOR_SERVICE
      - ISSUE_TO_TECH
      - INSTALLED
      - CORE_PENDING
      - CORE_RECEIVED
      - CROSS_DOCK
      - LABEL_TAG
      - KIT_ASSEMBLE
      - VALUE_ADDED_SERVICE
      - SUPERSEDE
      - SUPERSEDED
    PartStorageTypes:
      type: string
      description: types of part storages.
      enum:
      - PALLET
      - SHELF
      - BIN
      - RACK
      - FLOOR
      - CABINET
      - DRAWER
      - CONTAINER
      - CAGE
      - CUSTOM
    PartyReference:
      type: object
      properties:
        party_reference_id:
          type: string
          description: Unique system identifier for the reference record itself.
          example: pr-8821-x01
        party_reference_key:
          type: string
          description: "Business-logical key for the reference, often combining the\
            \ event and party context."
          example: REF-SALE-2026-CUST-99
        party_key:
          type: string
          description: The business key of the actual Party (Person or Org) being
            referenced.
          example: CUST-DEALER-4412
        party_name:
          type: string
          description: The formal display name of the Party at the time of reference.
          example: Northside Chevrolet Service Center
        individual_name:
          $ref: "#/components/schemas/PersonName"
        party_type:
          $ref: "#/components/schemas/PartyTypes"
        authorization_code:
          type: string
          description: Security or permission code granting access to this party's
            data.
          example: AUTH-992-SEC
        source_system_code:
          type: string
          description: "The identifier of the system of record (e.g., DMS, CRM)."
          example: CDK-GLOBAL
        context:
          type: string
          description: The domain or operational context for the reference.
          example: VEHICLE_SERVICE
        account_number:
          type: string
          description: The specific account identifier for the party in the source
            system.
          example: ACT-771229-B
        party_label:
          maxLength: 150
          minLength: 1
          type: string
          description: The human-readable display label or business name representing
            the party entity within the bounded context.
          example: Apex Automotive Group
        party_description:
          maxLength: 500
          type: string
          description: Detailed contextual narrative or organizational notes describing
            the referenced party entity.
          example: Primary regional dealership franchise operating across southeast
            service territories.
        primary_role_name:
          maxLength: 80
          minLength: 1
          type: string
          description: The principal functional role or stakeholder classification
            assigned to the party within this domain interaction.
          example: DEALER_OPERATOR
        party_relationship_types:
          maxItems: 255
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/PartyRelationshipTypes"
        snapshot_detail:
          $ref: "#/components/schemas/Identifier"
        address_references:
          $ref: "#/components/schemas/AddressReferences"
        communication_channels:
          $ref: "#/components/schemas/CommunicationChannels"
        occurrence_date_time:
          type: string
          description: Timestamp indicating when this specific reference was established.
          format: date-time
          example: 2026-09-02T13:44:03Z
        org_indicator:
          type: boolean
          description: Indicates if the party is an organization (true) or an individual
            (false).
          example: true
        identifiers:
          $ref: "#/components/schemas/Identifiers"
      description: External system identifier
    PartyReferences:
      type: array
      items:
        $ref: "#/components/schemas/PartyReference"
    PartyRelationshipTypes:
      type: string
      description: types of party relationships.
      enum:
      - CORPORATION
      - GROUP
      - STORE
      - BRANCH
      - DEPARTMENT
      - SECTION
      - TEAM
      - DEALERSHIP
      - THIRD_PARTY
      - VENDOR
      - MERCHANT
      - SUPPLIER
      - PARTNER_ORGANIZATION
      - AFFILIATE
      - DISTRIBUTOR
      - MANUFACTURER
      - SERVICE_PROVIDER
      - EMPLOYER
      - INTERNAL_ORGANIZATION
      - COST_CENTER
      - FREIGHT_FORWARDER
      - BUYER
      - REGULATOR
      - GOVERNMENT_AGENCY
      - NON_PROFIT
      - FRANCHISE
      - SUBSIDIARY
      - DIVISION
      - JOINT_VENTURE
      - AUDITOR
      - ACTOR
      - OEM
      - PRIMARY_OEM
      - DRIVER
      - LIEN_HOLDER
      - PROVIDER
      - WARRANTY_PROVIDER
      - INSURANCE_PROVIDER
      - SUBLET_PROVIDER
      - ACCOUNTABLE
      - RESPONSIBLE
      - CONSULT
      - NOTIFY
      - EXECUTE
      - PART_OF
      - MEMBERSHIP
      - COMPOSED_IN
      - SCHEDULER
      - GEN_MGR
      - SALES_MGR
      - CLOSING_MGR
      - FI_MGR
      - CONCIERGE_MGR
      - SERVICE_MGR
      - SALES_ASSOC
      - BUSINESS_DEVELOPMENT
      - SPECIALIST
      - ADVISOR
      - PRIMARY_TECHNICIAN
      - SERVICE_TECH
      - CONCIERGE_STAFF
      - VALET
      - STAFF
      - FINANCE
      - SERVICE_ADVISOR
      - SERVICE_TECHNICIAN
      - SHOP_FOREMAN
      - FLEET_MANAGER
      - TRANSPORT_PROVIDER
      - PASSENGER
      - CUSTOMER
      - CO_SIGNER
      - SPOUSE
      - PARENT
      - CHILD
      - SIBLING
      - LEGAL_GUARDIAN
      - DEPENDENT
      - EMERGENCY_CONTACT
      - FAMILY_MEMBER
      - FRIEND
      - ACQUAINTANCE
      - ASSOCIATE
      - EX_SPOUSE
      - PROFESSIONAL_CONTACT
      - MANAGER
      - CO_WORKER
      - FINANCIAL_ADVISOR
      - SELF
      - ROMANTIC_PARTNER
      - OTHER_FAMILY
      - CAREGIVER
      - MENTOR
      - MENTEE
      - HEIR
      - TRUSTEE_PERSON
      - REFERENCE_PERSONAL
      - REFERENCE_PROFESSIONAL
      - PRIMARY_CUSTOMER
      - PRIMARY_DRIVER
      - SECONDARY_DRIVER
      - PRIMARY_OWNER
      - SECONDARY_OWNER
      - CO_OWNER
      - VEHICLE_OWNER
      - APPLICANT
      - CO_APPLICANT
      - AGENT
      - BENEFICIARY
      - GUARANTOR
      - EMPLOYEE
      - CONTRACTOR
      - OWNER
      - BUSINESS_PARTNER
      - SERVICE_CONSUMER
      - POLITICAL_AFFILIATE
      - ADVISOR_CONSULTANT
      - PROXY
      - SHAREHOLDER
      - INVESTOR
      - CUSTODIAN
      - PRIMARY_CONTACT
      - APPROVER
      - SOLD_TO
      - SHIP_TO
      - PAYER
      - PAYEE
      - GIFT_TO
      - LOAN_PROVIDER
      - CREDIT_CARD_PROVIDER
      - LESSEE
      - LESSOR
      - INSURED
      - INSURER
      - UNDERWRITER
      - RECIPIENT
      - TRANSACTION_FROM
      - TRANSACTION_TO
      - REMOVE
      - OTHER
    PartyTypes:
      type: string
      description: types of partys.
      enum:
      - DEALER
      - EMPLOYEE
      - CUSTOMER
      - ORGANIZATION
      - VENDOR
      - SUPPLIER
      - PUBLIC
      - TAX
      - SERVICE
      - PROSPECT
      - PARTNER
      - CONTRACTOR
      - DEVICE
      - FLEET
      - DRIVER
      - FINANCE
      - GOVERNMENT
      - PERSON
      - GROUP
      - RENTAL
      - RESALE
      - SHIP_TO
      - SOLD_TO
      - SHIP_THROUGH
    PayTypes:
      type: string
      description: types of pays.
      enum:
      - CUSTOMER_PAY
      - WARRANTY
      - INTERNAL
      - SUBLET
      - MANUFACTURER
      - DEALER
    PaymentAuthorization:
      type: object
      properties:
        payment_authorization_id:
          type: string
          description: Unique identifier value for the reference record.
        payment_authorization_key:
          type: string
          description: Unique identifier value for the reference record.
        auth_reasons:
          $ref: "#/components/schemas/Codes"
        auth_amount:
          $ref: "#/components/schemas/Money"
        address_verification:
          type: string
          description: Context or domain of the reference.
        context:
          type: string
          description: Context or domain of the reference.
        transaction_number:
          type: string
          description: Context or domain of the reference.
        auth_number:
          type: string
          description: Context or domain of the reference.
        auth_code:
          type: string
          description: Context or domain of the reference.
        auth_date_time:
          type: string
          description: The date and time the payment was associated with the order.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: Reference to a PaymentMethod (Party) Aggregate Root for financing
        details.
    PaymentAuthorizations:
      type: array
      items:
        $ref: "#/components/schemas/PaymentAuthorization"
    PaymentMethodReference:
      type: object
      properties:
        payment_method_reference_id:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique identifier value for the reference record.
        payment_method_reference_key:
          maxLength: 50
          minLength: 5
          type: string
          description: Unique key value for the reference record.
        payment_method_key:
          maxLength: 50
          minLength: 5
          type: string
          description: The unique key identifying the referenced PaymentMethod (Party)
            aggregate.
        context:
          type: string
          description: Context or domain of the reference.
        payment_method_type:
          $ref: "#/components/schemas/PaymentMethodTypes"
        processor_options:
          $ref: "#/components/schemas/Identifiers"
        snapshot_details:
          $ref: "#/components/schemas/Identifiers"
        occurrence_date_time:
          type: string
          description: The date and time the paymentMethod was associated with the
            order.
          format: date-time
          example: 2026-09-02T13:44:03Z
      description: Reference to a PaymentMethod (Party) Aggregate Root for financing
        details.
    PaymentMethodReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentMethodReference"
    PaymentMethodTypes:
      type: string
      description: types of payment methods.
      enum:
      - CASH
      - CHECK
      - MONEY_ORDER
      - CASH_ON_DELIVERY
      - CREDIT_CARD
      - DEBIT_CARD
      - GIFT_CARD
      - EFT
      - ONLINE_BANK_TRANSFER
      - MOBILE_WALLET
      - CRYPTOCURRENCY
      - ONLINE_PAYMENT_PLATFORM
      - PAYROLL_DEDUCTION
      - FINANCE
      - LEASE
      - RENTAL
      - TERMS
      - DUE_ON_RECEIPT
      - TRADE_IN
      - REWARD_POINTS
      - STORE_CREDIT
      - EXCHANGE
      - NOT_APPLICABLE
      - ACH
      - WIRE_TRANSFER
      - DIGITAL_WALLET
      - FINANCING
      - INTERNAL_CREDIT
      - UNKNOWN
      - OTHER
    PaymentScheduleReference:
      type: object
      properties:
        payment_schedule_reference_id:
          type: string
          description: Unique identifier value for the reference record.
        payment_schedule_reference_key:
          type: string
          description: Unique identifier value for the reference record.
        payment_schedule_key:
          type: string
          description: The unique key identifying the referenced Payment Schedule
            aggregate.
        payment_period:
          $ref: "#/components/schemas/EffectivePeriod"
        context:
          type: string
          description: Context or domain of the payment schedule.
        total_payments:
          type: integer
          description: The total number of payments in this schedule.
          format: int32
          example: 60
        identifier:
          $ref: "#/components/schemas/Identifier"
        occurrence_date_time:
          type: string
          description: The date and time the schedule was associated with the order.
          format: date-time
          example: 2026-09-02T13:44:03Z
        payment_frequency:
          $ref: "#/components/schemas/DurationIntervalTypes"
        payment_amount:
          type: string
          description: The price of all products and services before tax.
        annual_percentage_rate:
          type: string
          description: Context or domain of the payment schedule.
      description: Reference to a Payment Schedule Aggregate Root.
    PaymentScheduleReferences:
      type: array
      items:
        $ref: "#/components/schemas/PaymentScheduleReference"
    PaymentStatusTypes:
      type: string
[...]
